### 2D Data and Nested Data?
- A 2D array in python is a two-dimensional data structure stored linearly in the memory. 
- It means that it has two dimensions, the rows, and the columns, and thus it also represents a matrix
- Nested Data in python is having One DataType holding the elements of other Data Types 
- Here DataTypes can be of Collections/Sequentials types like list tuple set str dictionary

example:

```python


arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]


data2 = [
           [10,20,40,50],
           ('Earth','Jupiter','Venus','Mars'),
           {'Red','Blue','Yellow','Orange'},
           {'name' : 'Kumar', 'skills': ['python','devoops','springBoot','java']}
         ]
```

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

![](https://bertwagner.com/wp-content/uploads/2018/12/Nested-Loop-Join-50fps-1.gif)

### Nested For Loop

In [ ]:
for :
    for:
        for:
            for
    
for:
    while
    
while:
    while

while:
    for

In [ ]:
FOR ONE ITERATION OF Outer Loop , INNER loop will execute all it's iterations.

![](https://pynative.com/wp-content/uploads/2021/06/python-nested-for-loop.png)

In [ ]:
# normal for loop

for i in range(10):
    print(i , end=" ")

In [ ]:
for i in range(1,4): 
    for j in range(1,3):
        print(i,j)

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} * {j} = {i*j}')
    print('-' * 30)

![](https://media.geeksforgeeks.org/wp-content/uploads/20220801153940/Nestedloop.png)

In [ ]:
for i in range(5): 
    for j in range(2): 
        print("HI" , end=" ")
    print()

In [ ]:
count=0
for i in range(0,10,2):
    for j in range(i+1,10,2):
        for k in range(j+2,10):
            count = count+1
            
        
print(count)

In [ ]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

In [ ]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

####  EXAMPLES

In [ ]:
x = [1, 2]
y = [4, 5]

for i in x:
    for j in y:
        print(i, j)

In [ ]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
    j = 0
    while j < len(y) :
        print(x[i] , y[j])
        j = j + 1
    i = i + 1

In [ ]:


arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

for data in arr_2D:
    print(data)

In [ ]:
for data in arr_2D:
    for inner in data:
        print(inner, end =" ")
    print()

In [ ]:
data = ["apple","ms","telsa", "Micro"]

print(data[0])

In [ ]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]


print(arr_2D[2][1])

print(len(arr_2D))

In [ ]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]

n = len(arr_2D)
print("len is",n)

for i in range(n):
    m = len(arr_2D[i])
    for j in range(m):
        print(arr_2D[i][j] , end=" ")
    print()

In [ ]:
len(arr_2D[2])

### TRY THIS

In [ ]:
arr_2D

In [ ]:

for i in range(n):
    for j in range(len(arr_2D[i])):
        if(i==j):
            arr_2D[i][j] = i**j
    print()
    
print(arr_2D)

In [ ]:
for i in range(1, 5):
    for j in range(1,10):
        if i==j:
            break
        print(f'{i} * {j} = {i*j}')
        
    print('-' * 20)

In [ ]:

for i in range(2, 4):
    for j in range(1, 11):
        if i==j:
            continue
        print(f'{i} * {j} = {i*j}')
    print('-' * 20)

In [ ]:
# EXAMPLES

data = [["kumar",1200],["Alex",1500],["Avan",2500]]

for outer in data:
    for d2 in outer:
        print(d2)

### Daily-usecases

#### Printing mutliplication table

In [ ]:
for i in range(2, 4):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)
    print()

### TASK-2

- Read JSON File from local 
- Store inside a Datatypes (dictionary)
- Apply the following operations.
    - count of nobel prizes for chemistry
    - count of nobel prize in betwen 1900 - 1980 of chemistry
    - count of total nobel prize categories and which one is having maximum prizes.

- JSON 
    - Javascript Object Notation
    - Data represtation 
    - Mainly we use for API's communications and configuration.
    - DataTypes:
        key : str 
        value: str , int, boolean, object, array

In [ ]:
{
    "name" : "kumar",
    "country": "india",
    "role" : "backend-dev",
    "is_develper": True
    "site-location": 3,
    "skill": ["python", "devops","spring","java"],
    "friends": [
        {
            "name" : "Jai",
            "role": "saleforce dev",
            "skills" : ["integration","dev-ops"]
        }
    ]
    
    
}

In [ ]:
data = {'year': '2022', 'category': 'chemistry', 'laureates': [{'id': '1015', 'firstname': 'Carolyn', 'surname': 'Bertozzi', 'motivation': '"for the development of click chemistry and bioorthogonal chemistry"', 'share': '3'}, {'id': '1016', 'firstname': 'Morten', 'surname': 'Meldal', 'motivation': '"for the development of click chemistry and bioorthogonal chemistry"', 'share': '3'}, {'id': '743', 'firstname': 'Barry', 'surname': 'Sharpless', 'motivation': '"for the development of click chemistry and bioorthogonal chemistry"', 'share': '3'}]}