### Looping Statements

#### Break

    - With the break statement we can stop the loop before it has looped through all the items:


#### Continue 

    - With the continue statement we can stop the current iteration of the loop, and continue with the next:

    - skips the current iteration

#### pass
    for/while loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error

In [ ]:
# PASS

In [ ]:
if 10>20:
    pass

In [ ]:
for i in range(10):
    pass

In [ ]:
def fun():
    pass

In [ ]:
# BREAK

In [5]:
for i in range(1,100):
    print(i)
    if i == 5:
        print("condition met")
        break
        
        
print('hey hi am outside loop')

1
2
3
4
5
condition met
hey hi am outside loop

In [6]:
for i in range(1,10):
    print(i) 
    print("hi")
    print("Hello")
    break  #individual statement

1
hi
Hello

In [7]:
for i in range(1,1000):
    break
    print(i)
    print("hi")
    print("hello")
    
    
print("outside loop")

outside loop

In [ ]:
# CONTINUE

In [8]:
for i in range(1,11):
    if i == 3 or i == 7:
        continue
    print(f"hello am {i}")

hello am 1
hello am 2
hello am 4
hello am 5
hello am 6
hello am 8
hello am 9
hello am 10

In [9]:
for i in range(1,10):
    if(i==3 or i==5):
        continue
    print(f' i = {i}')
    print(f' i^2 = {i**2}')

 i = 1
 i^2 = 1
 i = 2
 i^2 = 4
 i = 4
 i^2 = 16
 i = 6
 i^2 = 36
 i = 7
 i^2 = 49
 i = 8
 i^2 = 64
 i = 9
 i^2 = 81

In [10]:
for i in range(1,10):
    if i==5 or i==8:
        continue
    print(i, end=" ")

1 2 3 4 6 7 9

In [11]:
for i in range(10):
    print(i,end="")
    continue #individual
    print("hello") #unreacable code

0123456789

In [12]:
for i in range(10):
    break
    print(i)

print(i)

0

In [13]:
for i in range(10):
    continue # first statement
    print(i)
    
print(i)

9

In [14]:
for i in range(100):
    
    if i % 3 == 0 and i % 5 == 0: #skipping multiple of 3 & 5
        continue
    else:
        print(i , end= " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25 26 27 28 29 31 32 33 34 35 36 37 38 39 40 41 42 43 44 46 47 48 49 50 51 52 53 54 55 56 57 58 59 61 62 63 64 65 66 67 68 69 70 71 72 73 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 91 92 93 94 95 96 97 98 99

In [ ]:
# For -  Loop
- When we know the no of iteration in advance.
- range() is a friend which handles start,step ,stop.
 - Have control on indexes.
    
    
# While - loop
 - when we don't know iteration in advance..
 - we have to declare start , stop , step
 - if we don't increment/decrement step --> infinite loop.

#### Else with For/While

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [15]:
# Normal usage 

a =10
b= 20
if a>b: #True
    print("if block")
else: #False
    print("else block")

else block

In [17]:
#else block is executed when for loop is compeltely executed all iterations
for ch in "Kumar":
    print(ch ,end="")
    if ch=="a":
        break
             
else: #no break #when executed all the iterations
    print(" else block executed")

Kuma

In [18]:
for i in range(1,10):
    print(i) 
    print("hi")
    print("Hello")
    break 
else:
    print("am else block")

1
hi
Hello

In [ ]:
for i in range(1,30): #stop>start
    print("Hello")

In [19]:
while True:
    msg = input("enter the message: ")
    print(msg)
    if msg == "exit":
        break

enter the message: hello
hello
enter the message: asjjsdhk
asjjsdhk
enter the message: dlsdf
dlsdf
enter the message: wdjjwd
wdjjwd
enter the message: exit
exit

### List Comprehension

In [21]:
# read n integers from keyword.
n = int(input("enter n value: "))
op = [] 
for i in range(n):
    op.append(int(input()))
    
print(op)

enter n value: 10 20

ValueError: invalid literal for int() with base 10: '10 20'

In [31]:
op = list(map(int, input().split()))
print(op)

In [36]:
# generate list of odd nums in given range

n = int(input("enter n: "))
op = []
for i in range(1,n):
    if i%2 == 1:
        op.append(i)
print(op)

enter n: 20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
n = int(input("enter n: "))
op = [i for i in range(1,n) if i%2 == 1]
print(op)

enter n: 20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
output2 = [i for i in range(1,21) if i%2 != 0]
print(output2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [39]:

numbers = [1,2,3,4,5]
evenFilter = [num**2 for num in numbers if num%2 == 1]
print(evenFilter)

[1, 9, 25]

## Dictionary Comprehension

In [40]:

num = {1,2,3,4,5}
num_even = {f:f**2 for f in num}
print(num_even)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [41]:
{ch:ord(ch) for ch in "kumar"}

{'k': 107, 'u': 117, 'm': 109, 'a': 97, 'r': 114}

In [43]:
names = ['kumar' , 'mahesh' , 'ravi']

for name in names:
    print(name)
    continue

else: # whenever loop is completedly iterated all iterations , else will be executed..
    print('loop completed ...')

kumar
mahesh
ravi
loop completed ...

### Question
1 . Linear Search 

2 . Binary Search 

3. Bubble Sort , Selection Sort , Insertion Sort

### Linear Search 

- Read a list of integers and also element to find the index 
- if element is present inside list of interger print the index 
- else print the default index as -1

- note:
    suppose element is present in more than one index locations , always print the last index of the element
    
    
 ```code
 
 INPUT-1:
 
 lstIntegers = [10,20,3,0,9,6,12,26] 
 ele = 9

 OUTPUT-1: 4
 
  
 INPUT-2:

     lstIntegers = [10,20,30,40] 
     ele = 9

 OUTPUT-2: -1
 
 
 INPUT-3:
 
     lstIntegers = [10,20,30,40,20] 
     ele = 20

 OUTPUT-3:  4
 ```

In [23]:
# n = int(input("enter n : "))
# lst = [] 
# for i in range(n):
#     lst.append(int(input(f'Enter a[{i}]: ')))
    
# print(lst)


# lst = list(map(int,input("enter values: ").split()))
# print(lst)


def search_element_linear(lst,key):
    index = -1
    for i in range(len(lst)):
        if lst[i] == key:
            index = i
    return index
            
lstIntegers = [10,20,30,40,20] 
key = 20

search_element_linear(lstIntegers, key)

4

### Binary search 

- always data should be in sorted order
- complexity will be O(logn)

In [35]:
def search_using_bs(lst, key):
    low = 0
    high = len(lst) - 1
    mid = 0
    print(len(lst), lst)
    while low <= high:
        print(f'low : {low}, high: {high}, mid: {mid}')
        mid = (low + high) // 2
        if key < lst[mid]:
            high =  mid - 1 
        elif key > lst[mid]:
            low = mid + 1
        else:
            return mid 
       
    return -1



nums = [10,20,30,66,67,87,90,96]
key = 96
search_using_bs(nums,key)

8 [10, 20, 30, 66, 67, 87, 90, 96]
low : 0, high: 7, mid: 0
low : 4, high: 7, mid: 3
low : 6, high: 7, mid: 5
low : 7, high: 7, mid: 6

7

In [ ]:
# low = 0, high = 8, mid = 0
     # low<=high 0<=8
    # mid = (low + high)//2 : (0+8)//2 --> 4

# low = 5, high = 8
    # 5 <= 8 , mid = 6
    
# low = 7, high = 8
    # 7<= 8 , mid = (7+8)//2 ==> 7

In [ ]:
1.Print numbers from 1 to 10 using a for loop:
    
2.Calculate the sum of numbers from 1 to 10 using a for loop:


3.Print the elements of a list using a for loop:

Calculate the product of elements in a list using a for loop:

Print even numbers from 1 to 10 using a for loop:

Print numbers in reverse from 10 to 1 using a for loop:

Print characters of a string using a for loop

Find the largest number in a list using a for loop:

Find the second largest number in a list using a for loop:

Find the average of numbers in a list using a for loop:

Print all uppercase letters in a string using a for loop:

Count the number of vowels in a string using a for loop:

Print a pattern of stars using nested for loops:

Calculate factorial of a number using a while loop:

Find the first occurrence of a number in a list using a while loop:

Calculate the sum of numbers from 1 to 100 using a while loop:

Find all prime numbers between 1 and 50 using nested for and if:


Print numbers divisible by 3 or 5 from 1 to 20 using a for loop:

Print a list of squares of numbers from 1 to 5 using a list comprehension:

Find the common elements in two lists using a for loop:

Print numbers in a list until a negative number is encountered using a while loop:

Print numbers from 1 to 5, except 3 using a for loop and continue statement:

Print numbers from 1 to 10. If a number is even, skip it using a for loop and else clause:

Print numbers from 1 to 10. If a number is even, break the loop using a for loop and else clause:

In [ ]:
for number in range(1, 11):
    print(number)

In [ ]:
total_sum = 0
for number in range(1, 11):
    total_sum += number
print(total_sum)

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date']
for item in my_list:
    print(item)

In [42]:
# Find the largest number in a list using a for loop:
lstNums = [3,0,9,6,96,18,78]
largest = lstNums[0]
for i in range(1,len(lstNums)):
    if lstNums[i] > largest:
        largest = lstNums[i]
print(largest)

96

In [51]:
# Find the second largest number in a list using a for loop:

def method1(lst):
    # sort in desc sort
    lst.sort(reverse=False)
    print(lst)
    for i in range(len(lst)-1,0, -1):
        if lst[i] != lst[i-1]:
            return lst[i-1]

import sys     
def method2(lst):
    if len(lst)<2:
        return 'invalid size'
    
    minimum_int = -sys.maxsize-1 # -9223372036854775808
    first=second = minimum_int
    for i in range(len(lst)):
        if (lst[i] > first):
            second = first
            first = lst[i]
            
        elif (lst[i] > second and lst[i] != first):
            second = lst[i]
    if (second != minimum_int):
        return second
    else:
        return f"no second largest number"
        
        
data = [3,0,9,6,96,18,78,96]
# method1(data)

method2(data)

78