### 2D Data and Nested Data?
- A 2D array in python is a two-dimensional data structure stored linearly in the memory. 
- It means that it has two dimensions, the rows, and the columns, and thus it also represents a matrix
- Nested Data in python is having One DataType holding the elements of other Data Types 
- Here DataTypes can be of Collections/Sequentials types like list tuple set str dictionary

example:

```python


arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]


data2 = [
           [10,20,40,50],
           ('Earth','Jupiter','Venus','Mars'),
           {'Red','Blue','Yellow','Orange'},
           {'name' : 'Kumar', 'skills': ['python','devoops','springBoot','java']}
         ]


data3 = {
    "name" : "kumar",
    "country": "india",
    "role" : "backend-dev",
    "is_develper": True
    "site-location": 3,
    "skill": ["python", "devops","spring","java"],
    "friends": [
                {
                "name" : "Jai",
                "role": "saleforce dev",
                "skills" : ["integration","dev-ops"]
                }
            ]
       }
```

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

![](https://bertwagner.com/wp-content/uploads/2018/12/Nested-Loop-Join-50fps-1.gif)

### Nested For Loop

In [ ]:
for :
    for:
        for:
            for
    
for:
    while
    
while:
    while

while:
    for

In [ ]:
FOR ONE ITERATION OF Outer Loop , INNER loop will execute all it's iterations.

![](https://pynative.com/wp-content/uploads/2021/06/python-nested-for-loop.png)

In [4]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j , end=" ")
    print() #newline

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [5]:
# normal for loop
for i in range(10):
    print(i , end=" ")

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(1,4):
    for j in range(1,3):
        print(i**j , end=" ")
    print('')

1 1
2 4
3 9

In [7]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} * {j} = {i*j}')
    print('-' * 30)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
------------------------------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
------------------------------

In [8]:
for i in range(5):
    for j in range(2):
        print(f'j = {j} in J Loop')
    print('')
    for k in range(3):
        print(f'k = {k} in K Loop')
    print('')

j = 0 in J Loop
j = 1 in J Loop

k = 0 in K Loop
k = 1 in K Loop
k = 2 in K Loop

j = 0 in J Loop
j = 1 in J Loop

k = 0 in K Loop
k = 1 in K Loop
k = 2 in K Loop

j = 0 in J Loop
j = 1 in J Loop

k = 0 in K Loop
k = 1 in K Loop
k = 2 in K Loop

j = 0 in J Loop
j = 1 in J Loop

k = 0 in K Loop
k = 1 in K Loop
k = 2 in K Loop

j = 0 in J Loop
j = 1 in J Loop

k = 0 in K Loop
k = 1 in K Loop
k = 2 in K Loop

![](https://media.geeksforgeeks.org/wp-content/uploads/20220801153940/Nestedloop.png)

In [10]:
for i in range(5): 
    for j in range(2): 
        print("HI")
    print()

HI
HI

HI
HI

HI
HI

HI
HI

HI
HI

In [11]:
count=0
for i in range(0,10,2):
    for j in range(i+1,10,2):
        for k in range(j+2,10):
            count = count+1
            
        
print(count)

30

In [12]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [13]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

####  EXAMPLES

In [14]:
x = [1, 2]
y = [4, 5]

for i in x:
    for j in y:
        print(i,j)

1 4
1 5
2 4
2 5

In [15]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
    j = 0
    while j < len(y) :
        print(x[i] , y[j])
        j = j + 1
    i = i + 1

1 4
1 5
2 4
2 5

In [16]:


arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

for data in arr_2D:
    print(data)

[1, 2, 3, 10]
['a', 'b', 'c']
[10.2, True, (10+2j)]

In [23]:
for data in arr_2D:
    for d in data:
        print(d)
    print()

1
2
3
10

a
b
c

10.2
True
(10+2j)

In [26]:
data = ["apple","ms","telsa", "Micro"]

print(data[0])
print(data[-1])

apple
Micro

In [27]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]


print(arr_2D[2][1])
print(arr_2D[0][2][1])
print(len(arr_2D))

True
e
3

In [36]:
arr_2D =[ 
    ["apple","amazon","telsa", "ibm"],
    ('Earth', 'Venus', 'Mars'),
    [10.2,True]
    ]

n = len(arr_2D)
print("len is",n)

for i in range(n):
    innerLen = len(arr_2D[i])
    for j in range(innerLen):
        print(f'arr[{i},{j}] = {arr_2D[i][j]}')
    print()

len is 3
arr[0,0] = apple
arr[0,1] = amazon
arr[0,2] = telsa
arr[0,3] = ibm

arr[1,0] = Earth
arr[1,1] = Venus
arr[1,2] = Mars

arr[2,0] = 10.2
arr[2,1] = True

### TRY THIS

In [ ]:
arr_2D

In [ ]:

for i in range(n):
    for j in range(len(arr_2D[i])):
        if(i==j):
            arr_2D[i][j] = i**j
    print()
    
print(arr_2D)

In [ ]:
for i in range(1, 5):
    for j in range(1,10):
        if i==j:
            break
        print(f'{i} * {j} = {i*j}')
        
    print('-' * 20)

In [ ]:

for i in range(2, 4):
    for j in range(1, 11):
        if i==j:
            continue
        print(f'{i} * {j} = {i*j}')
    print('-' * 20)

In [ ]:
# EXAMPLES

data = [["kumar",1200],["Alex",1500],["Avan",2500]]

for outer in data:
    for d2 in outer:
        print(d2)

### Daily-usecases

#### Printing mutliplication table

In [ ]:
for i in range(2, 4):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)
    print()

### TASK-2

- Read JSON File from local using module
- Store inside a Datatypes (dictionary)
- Apply the following operations.
    - count of nobel prizes for chemistry
    - count of nobel prize in betwen 1900 - 1980 of chemistry
    - count of total nobel prize categories and which one is having maximum prizes.

- JSON 
    - Javascript Object Notation
    - Data represtation  , Data Serilazation Language
    - Mainly we use for API's communications and configuration.
    - DataTypes:
        key : str 
        value: str , int, boolean, object, array

In [ ]:
developer = {
    "name" : "kumar",
    "country": "india",
    "role" : "backend-dev",
    "is_develper": True,
    "site-location": 3,
    "skill": ["python", "devops","spring","java"],
    "friends": [
        {
            "name" : "Jai",
            "role": "saleforce dev",
            "skills" : ["integration","dev-ops"]
        }
    ]
    
    
}

In [ ]:
for key in developer:
    print(key , developer[key])

In [ ]:
for val in developer.values():
    print(val)

In [ ]:
for k,v in developer.items():
    print(k,v)

### Solution