## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an ordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

#### INDEXING SUPPORTED Datatypes
- list
- tuple
- str

#### Index not supported Datatypes
- set
- dictionary [ supports key based index]

In [ ]:
studentNames = ["alex", "groot", "tony", "shark"]
print(studentNames)
print(studentNames[4])

In [ ]:
colors = {"red", "blue", "red", "green", "yellow", "blue"} # unordered & unindexed 
print(colors)

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [ ]:
intVar = -1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

In [ ]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7    6   5   4   3  2  1  0 
values:     128  64  32  16  8  4  2  1 (2^loc)

In [ ]:
print(bin(255))

In [ ]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

In [ ]:
print(bin(10)) #convert any decimal -- binary 
print(bin(5))

In [ ]:
c = 0o10
d = 0b100

print(c+d)

In [ ]:
print(oct(8))#any decimal - octal

In [ ]:
e = 0xA
f = 0xB

print(e+f)

In [ ]:
print(hex(27))
print(hex(10))

### Float 
    - any decimal points is considered as float datatypes

In [ ]:
floatVar = 1.

print(floatVar , type(floatVar))

In [ ]:
* -- multiplication
** -- expo / power

In [ ]:
print(10*3)
print(10**3)

In [ ]:
# ex: 10.5*10^3

a = 10.5*(10**3)
print(a)

In [ ]:
b = 10.5e3 # e ---> 10^n
print(b)

In [ ]:
print(3e-3) # 3*10-3

### Strings 
    - collectional of characaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - multi-line strings

In [ ]:
singleQ = 'Hello World June 2023'
print(singleQ)
print(singleQ[0])
print(singleQ[-1])

In [ ]:
# It's a good movie
print('It's a good movie')

In [ ]:
print("It's a good movie")
print('It\'s a good movie')

In [ ]:
# python is "oops" lang

In [ ]:
c = "python is \"oops\" language"
print(c)

In [ ]:
c = """"python is "oops" language"""
print(c)

In [ ]:
d = """python is oops
and functional
language"""

print(d)

In [ ]:
d = '''python is oops
and functional
language'''

print(d)

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [ ]:
comVar = 6+8j

In [ ]:
print(comVar , type(comVar))

In [ ]:
comvar2 = 7j # 0+7j
print(comvar2, type(comvar2))

### Boolean
    - True or False values consider as boolean

In [ ]:
bol_var = True # 1
bol_var2 = False # 0

print(bol_var + bol_var2)
print(bol_var * bol_var2)

### Try these

- Read a Number from Keyboard
- Count number of zeros in it:
- If no zeroes were found , by default print -1

    ex: num = 102630280
        
        o/p: 3
        
     ex: num = 98339829
         
         o/p: -1

In [ ]:
I want to store 100 students names ?

how variables required? 100

st1_name = "ram"
st2_name = "venu"
..
..
..
st100_name = "kumar"

In [ ]:
studentNames = ["ram","venu","kumar"] #collection of items/elemets of same type or different type

In [ ]:
print(studentNames)
print(studentNames[2])

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [ ]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado' , "grape"] # all the same data types - a list of strings (fruits)

countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)

mixedList = ['Banana', 10, False, 9.81, 1+2j] # different data types in the list - string, integer, boolean and float

In [ ]:
print(len(fruits))

In [ ]:
# accessing VarName[index]  
print(fruits , type(fruits))

print(type(fruits[0]))

print(fruits[2])

In [ ]:
print(fruits[5])

#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

In [ ]:
print(fruits[3])

In [ ]:
n = len(fruits)
print(n)
print(fruits[n-1])  #n-1 is the last location

In [ ]:
print(fruits[-1])

In [ ]:
print(fruits[-6])

In [ ]:
print(fruits)

In [ ]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

In [ ]:
fruits[6] = "grape"
print(fruits)

In [ ]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

In [ ]:
# attributes and methods 
print(dir(fruits))

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..])
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [ ]:
print(dir( [] ))

In [ ]:
#append() : always add data to the end of the list , adds only one element at a time,
countries = ['Finland','Estonia', 'Sweden','Norway']


countries.append("India")
print(countries)



countries.append("Fiji")
print(countries)


countries.append("USA","AUS") #error
print(countries)

In [ ]:
print(countries)

In [ ]:
#insert(indNum,object/element) : insert the data at specific location or index.

countries.insert(0,"England")
print(countries)

In [ ]:
countries.insert(-1,"Pak" )
print(countries)

In [ ]:
print(len(countries))
print(countries[-7])
print(countries[-8])

In [ ]:
countries.insert(-10,"Cuba") 
print(countries)

In [ ]:
countries.insert(100,"Seria")
print(countries)

In [ ]:
# extend([obj1,obj2..])

countries.extend(["Russai","Seria","Finland","Norway","Pak"])
print(countries)

### Try these
- Display only unquie contries

In [ ]:
print(countries, len(countries))

In [ ]:
unqiue_countries = set(countries)# set into list using set()

print(unqiue_countries , len(unqiue_countries), type(unqiue_countries))

In [ ]:
unqiue_countries

# Every Function/Method in python , when called , they will do the operation on data , and respond back with some data.
# If function doesn't return any data,by default it return None Type.

# 1. storing fun/method call in a variable
# 2. calling fun inside another fun.

In [ ]:
var = print('Hi Azure AI')
print(var)

print(print('Hi Priya'))

print(print( print ( ) ))

In [ ]:
print(countries)

In [ ]:
result = print("hello") # storing fun call in a var
print(result)

In [ ]:
# pop() : index based deletion
r = countries.pop() #pop() will remove and return the popped element
print(r)

In [ ]:
print(countries.pop(3)) # give only valid locations/index

In [ ]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

In [ ]:
print(countries)

In [ ]:
# remove() : value based deletion
countries.remove("England")
print(countries)

In [ ]:
res = countries.remove("India")
print(res)

In [ ]:
help(countries)

In [ ]:
print(countries)

In [ ]:
countries.remove("South Af")

In [ ]:
print(countries)

In [ ]:
names = ["Prakash","Manoj","Kumar","Lavanya"]

r1 = names.pop() #default : -1 
print(r1)
print(names)


r2 = names.remove("Kumar") #not returning any value
print(r2)
print(names)

In [ ]:
# reverse()
countries.reverse()

print(countries)

In [ ]:
# sort()
countries.sort(reverse=True)
print(countries)

In [ ]:
lst = "RCB MI CSK RR KKR GT PB".split() #str - list
print(lst)


lst.sort(reverse = True) #ascending (small - big)

print(lst)

# ##ascii

print(ord("C") , ord("G"))

In [ ]:
msg = 'Hi hello Welcome Datatypes Session'.split()

print(msg)

msg.sort()

print(msg)

In [ ]:
print(ord("A") , ord('Z') , ord('a') , ord('z'))
print(chr(89))

In [ ]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

In [ ]:
print(lst)

In [ ]:
print(countries)

In [ ]:
# count() - display the occurence of a data element.

print(countries)

print(countries.count("Finland"))
print(countries.count("Seria"))
print(countries.count("India"))




lst = 'K u m a r R a j a m o n i p y t h o n t u T o R'.split()
print(lst)

print(lst.count("z"))

print(lst.count(" "))

print(lst.count('a'))

In [ ]:
# index() - return the index number of a data element.

print(countries)
print(countries.index("Finland"))

print(lst.index("T")) #return the fist index

In [ ]:
print(lst.index("a"))
print(countries.index('India'))

In [ ]:
# clear()
nums = [10,203,40]
print(nums)


nums.clear()

#after clear
print(nums)

In [ ]:
nums = [10,203,40]
print(nums)


del nums #removes from memory
print(nums)

In [ ]:
# copy()

countries = ["india" ,"bang","korea"]
copyVar = countries.copy() # shallow copy

print(copyVar)

print(id(copyVar) , id(countries))

In [ ]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

#### using = operators 

In Python, we use = operator to create a copy of an object. we may think that this creates a new object/memory; it doesn't. It only creates a new variable that shares the reference of the original object.

In [ ]:



old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_list = old_list


print('Old List:', old_list)
print('ID of Old List:', id(old_list))

print('New List:', new_list)
print('ID of New List:', id(new_list))

new_list[2][2] = 9

print("*** After updating  ******")
print('Old List:', old_list)
print('ID of Old List:', id(old_list))

print('New List:', new_list)
print('ID of New List:', id(new_list))

#### Shallow vs Deep Copy 

- Essentially, sometimes we may want to have the original values unchanged and only modify the new values or vice versa. In Python, there are two ways to create copies:

    - Shallow Copy
    - Deep Copy

- To make these copy work, we use the copy module.

- We use the copy module of Python for shallow and deep copy operations

```python
import copy
copy.copy(x)
copy.deepcopy(x)
```

#### Shallow Copy

- A shallow copy creates a new object which stores the reference of the original elements.

- So, a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects.
- This means, a copy process does not recurse or create copies of nested objects itself.

```python
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

#  Adding [4, 4, 4] to old_list, using shallow copy
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

# updating nested object using Shallow copy
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)
```



#### Deep Copy

- A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.
```python
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

## updating nested object in the list using Deep copy

import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)
```

#### shallow copy

In [ ]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

print("Old list:", old_list, id(old_list))
print("New list:", new_list, id(new_list))


print("Old list [0]", id(old_list[0]))
print("New list [0]", id(new_list[0]))


print(" ***** add new nested object old list ********")
old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

print(" ***** updating nested object old list ********")

old_list[1][1] = 'AA'
print("Old list:", old_list)
print("New list:", new_list)

#### Deep Copy

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list, id(old_list))
print("New list:", new_list, id(new_list))


print("Old list [0]", id(old_list[0]))
print("New list [0]", id(new_list[0]))


print(" ***** add new nested object old list ********")
old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)


print(" ***** updating nested object old list ********")

old_list[1][1] = 'AA'
print("Old list:", old_list)
print("New list:", new_list)

In [ ]:
# summary 
    ==> insertion
    ================
        append(obj)
        insert(ind,obj)
        extend([obj1,obj2...objn])
        
        
    deletion
    =======================
        pop(index=-1) # if index is invalid, raises IndexError
        remove(vaue) # if value is not exists , raise ValueError
        
    popular 
    ============================
    reverse()
    count()
    index()
    sort() #default is asc
    clear()
    copy()
    
    
        OBSERVATION
    =============================
    - insert() , even index is +ve/-ve invalid , we can insert the data
    - pop() default will remove last indexed element
    - we can't pop empty list
    - remove() will throw ValueError if element is not there
    - sort(reverse=True) : will sort in dsc order.
    - copy() method , it create new variable with different memory addr.

### Try this?

- Declare a variable ipl_teams stores two initial elements 

```
    ipl_teams = ['CSK', 'MI']
 ```
 
- Add DC team to existing teams list at ending 
- Add KKR team at insert index 1st position 
- Add RCB, RR , SRH at a time to existing team list 
- Add GT, LSG, PBKS at a time to existing team list
- Add MI at 5th position
- Add RR at end of the list 
- print teams list 
- print count of teams list 
- print unique count of teams list 
- remove last team from the list and print 
- remove the MI from the teams list
- print occurences of MI 
- print the team names in asc sort order and dsc sort order 
- print the teams in reverse order

In [ ]:
"RCB,RR,SRH".split(',') # str - list

In [ ]:
ipl_teams = ['CSK', 'MI']
ipl_teams.append('DC')
print(ipl_teams)

ipl_teams.insert(1, 'KKR')
print(ipl_teams)

ipl_teams.extend("RCB,RR,SRH".split(','))
print(ipl_teams)

ipl_teams.extend("GT LSG PBKS".split())
print(ipl_teams)

ipl_teams.insert(5, "MI")
print(ipl_teams)

ipl_teams.append("RR")
print(ipl_teams)

# count
print('count of teams: ', len(ipl_teams))

# unique count 
unique_teams = set(ipl_teams)
print('unique teams count: ', len(unique_teams))

last_team_name = ipl_teams.pop()
print(last_team_name)

ipl_teams.remove("MI")
print(ipl_teams)

print(ipl_teams.count("MI"))

ipl_teams.sort()
print("asc order: ", ipl_teams)

ipl_teams.sort(reverse = True)
print("dsc order: ", ipl_teams)

ipl_teams.reverse()
print("reversed team list: ", ipl_teams)

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [ ]:
planets = ('Earth',"Venus", 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [ ]:
print(planets , type(planets) , len(planets), id(planets))

In [ ]:
print(planets[1])

In [ ]:
print(planets[-1])

In [ ]:
print(planets[-100])

In [ ]:
planets[1] = "Pluto" #error

In [ ]:
print(dir(planets))

In [ ]:
name = "priya"
name[0] = "P"
print(name)

### tuple methods
    - count()
    - index()

In [ ]:
print(dir( () ))

In [ ]:
planets.count("Mars")

In [ ]:
planets.count("Aplha")

In [ ]:
planets

In [ ]:
planets.index("Venus")

In [ ]:
planets.index("Pluto")

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [ ]:
print(type( () )) #tuple
print(type([])) #list
print(type({})) # dictionary
d = set() 
print(type(d))

In [ ]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

In [ ]:
print(teams[0]) #error set' object is not subscriptable

In [ ]:
print(dir(teams))

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [ ]:
print(type( [] ))
print(type( () ))
print(type( {} ))
print(type( set() ))

In [ ]:
print(teams)

In [ ]:
teams.add("Zimb") #add data to the set.

In [ ]:
print(teams)

In [ ]:
teams.discard("Eng") #no element no  error 
print(teams)

In [ ]:
teams.discard("USA")

In [ ]:
teams.remove("Sa") #no element will throw key error
print(teams)

In [ ]:
teams.remove("USA") #raise Error if not a element
print(teams)

In [ ]:
# difference 

x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

In [ ]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

In [ ]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

In [ ]:
# intersection
print(x.intersection(y)) #common elements

In [ ]:
print(x)

In [ ]:
print(x.pop())

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [ ]:
a = {"iphone12","iphone13","iphone16"}
b = {"iphone15","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

x = {"red", "blue"}
y = {"yellow", "brown"}
print(x & y)
print(x.isdisjoint(y))

In [ ]:
c = {"iphone12","iphone16"}
print(c.issubset(a))


c = {"iphone12","iphone8"}
print(c.issubset(a))

In [ ]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]
print(len(lst))

In [ ]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

In [ ]:
#prebild method 
int()
float()
complex()
bool()
str()

list()
tuple()
set()
dict()

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [ ]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python'],
     'cricketTeamName' : 'Bharat',
    }

print(team , type(team))

In [ ]:

print(type(10))
print(type("kumar"))
print(type([]))
print(type( () ))
print(type(set()))
print(type({}))

In [ ]:
team

In [ ]:
team[0]

In [ ]:
team['Players']

In [ ]:
print(team.keys())

In [ ]:
print(team.values())

In [ ]:
print(team['country'])

In [ ]:
print(team["Captain"])

In [ ]:
print(team["Players"])

In [ ]:
print(team['ipl_captain'])

### methods

In [ ]:
#get()
print(team.get('Players'))
print(team['Players'])

In [ ]:
print(team['ipl_captain']) #fastest

In [ ]:
print(team.get('ipl_captain', 'not valid'))

In [ ]:
['keyname'] --> always should be valid key otherwise raise keyerror
.get('keyname') --> if key is invalid it will print None or some text

In [ ]:
#keys()
print(team.keys())

In [ ]:
#values()
print(team.values())

In [ ]:
#items() --[(K1,V1),(K2,V2)....] list of tuples

print(team.items())

In [ ]:
print(team)

In [ ]:
team.update({'year' : 2023})
print(team)

In [ ]:
team.update({"Captain":"KL Rahul"})

print(team)

In [ ]:
print(team)

In [ ]:
team.update({"iplCaptain" : 'Kohli'})
print(team)

In [ ]:
res = team.pop("year")
print(res)

In [ ]:
print(team)

In [ ]:
print(team.pop('iplCaptain'))

In [ ]:
team

In [ ]:
print(team.popitem()) #always remove last (k,v)

In [ ]:
print(team)

In [ ]:
student = {
    
    ("name",) : "mahesh",
    10 : "ruby",
    False : True,
    1+2j : "complex",
    ["lst"]: ["ram", "shiva"]
}

print(student)


student.popitem()
student.popitem()
student.popitem()
print(student)
student.popitem()
student.popitem()

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalid key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry(k,v)

### Try these?
    - can we create/declare duplicate keys in dictionary?
     if yes what's behaviour.

In [ ]:
users = {
	"page": 2,
	"per_page": 6,
	"total": 12,
	"total_pages": 2,
	"data": [
		{
			"id": 7,
			"email": "michael.lawson@reqres.in",
			"first_name": "Michael",
			"last_name": "Lawson",
			"avatar": "https://reqres.in/img/faces/7-image.jpg"
		},
		{
			"id": 8,
			"email": "lindsay.ferguson@reqres.in",
			"first_name": "Lindsay",
			"last_name": "Ferguson",
			"avatar": "https://reqres.in/img/faces/8-image.jpg"
		},
		{
			"id": 9,
			"email": "tobias.funke@reqres.in",
			"first_name": "Tobias",
			"last_name": "Funke",
			"avatar": "https://reqres.in/img/faces/9-image.jpg"
		},
		{
			"id": 10,
			"email": "byron.fields@reqres.in",
			"first_name": "Byron",
			"last_name": "Fields",
			"avatar": "https://reqres.in/img/faces/10-image.jpg"
		},
		{
			"id": 11,
			"email": "george.edwards@reqres.in",
			"first_name": "George",
			"last_name": "Edwards",
			"avatar": "https://reqres.in/img/faces/11-image.jpg"
		},
		{
			"id": 12,
			"email": "rachel.howell@reqres.in",
			"first_name": "Rachel",
			"last_name": "Howell",
			"avatar": "https://reqres.in/img/faces/12-image.jpg"
		}
	],
	"support": {
		"url": "https://reqres.in/#support-heading",
		"text": "To keep ReqRes free, contributions towards server costs are appreciated!"
	}
}

In [ ]:
users.keys()

In [ ]:
users['support']['text']

In [ ]:
users['data'][3]['first_name']

In [ ]:
data = {"isbn": "123-456-222",  
 "author": 
    {
      "lastname": "Doe",
      "firstname": "Jane"
    },
"editor": 
    {
      "lastname": "Smith",
      "firstname": "Jane"
    },
  "title": "The Ultimate Database Study Guide",  
  "category": ["Non-Fiction", "Technology"]
 }

In [ ]:
data.keys()

In [ ]:
data['author']['lastname']

In [ ]:
data['category'][-1]

In [ ]:
spacex = {
  "fairings": None,
  "links": {
    "patch": {
      "small": "https://images2.imgbox.com/eb/0f/Vev7xkUX_o.png",
      "large": "https://images2.imgbox.com/ab/79/Wyc9K7fv_o.png"
    },
    "reddit": {
      "campaign": "https://www.reddit.com/r/spacex/comments/fjf6rr/dm2_launch_campaign_thread/",
      "launch": "https://www.reddit.com/r/spacex/comments/glwz6n/rspacex_cctcap_demonstration_mission_2_general",
      "media": "https://www.reddit.com/r/spacex/comments/gp1gf5/rspacex_dm2_media_thread_photographer_contest/",
      "recovery": "https://www.reddit.com/r/spacex/comments/gu5gkd/cctcap_demonstration_mission_2_stage_1_recovery/"
    },
    "flickr": {
      "small": [],
      "original": [
        "https://live.staticflickr.com/65535/49927519643_b43c6d4c44_o.jpg",
        "https://live.staticflickr.com/65535/49927519588_8a39a3994f_o.jpg",
        "https://live.staticflickr.com/65535/49928343022_6fb33cbd9c_o.jpg",
        "https://live.staticflickr.com/65535/49934168858_cacb00d790_o.jpg",
        "https://live.staticflickr.com/65535/49934682271_fd6a31becc_o.jpg",
        "https://live.staticflickr.com/65535/49956109906_f88d815772_o.jpg",
        "https://live.staticflickr.com/65535/49956109706_cffa847208_o.jpg",
        "https://live.staticflickr.com/65535/49956109671_859b323ede_o.jpg",
        "https://live.staticflickr.com/65535/49955609618_4cca01d581_o.jpg",
        "https://live.staticflickr.com/65535/49956396622_975c116b71_o.jpg",
        "https://live.staticflickr.com/65535/49955609378_9b77e5c771_o.jpg",
        "https://live.staticflickr.com/65535/49956396262_ef41c1d9b0_o.jpg"
      ]
    },
    "presskit": "https://www.nasa.gov/sites/default/files/atoms/files/commercialcrew_press_kit.pdf",
    "webcast": "https://youtu.be/xY96v0OIcK4",
    "youtube_id": "xY96v0OIcK4",
    "article": "https://spaceflightnow.com/2020/05/30/nasa-astronauts-launch-from-us-soil-for-first-time-in-nine-years/",
    "wikipedia": "https://en.wikipedia.org/wiki/Crew_Dragon_Demo-2"
  },
  "static_fire_date_utc": "2020-05-22T17:39:00.000Z",
  "static_fire_date_unix": 1590169140,
  "tdb": False,
  "net": False,
  "window": 0,
  "rocket": "5e9d0d95eda69973a809d1ec",
  "success": True,
  "failures": [],
  "details": "SpaceX will launch the second demonstration mission of its Crew Dragon vehicle as part of NASA's Commercial Crew Transportation Capability Program (CCtCap), carrying two NASA astronauts to the International Space Station. Barring unexpected developments, this mission will be the first crewed flight to launch from the United States since the end of the Space Shuttle program in 2011. DM-2 demonstrates the Falcon 9 and Crew Dragon's ability to safely transport crew to the space station and back to Earth and it is the last major milestone for certification of Crew Dragon. Initially the mission duration was planned to be no longer than two weeks, however NASA has been considering an extension to as much as six weeks or three months. The astronauts have been undergoing additional training for the possible longer mission.",
  "crew": [
    "5ebf1b7323a9a60006e03a7b",
    "5ebf1a6e23a9a60006e03a7a"
  ],
  "ships": [
    "5ea6ed30080df4000697c913",
    "5ea6ed2f080df4000697c90b",
    "5ea6ed2f080df4000697c90c",
    "5ea6ed2e080df4000697c909",
    "5ea6ed2f080df4000697c90d"
  ],
  "capsules": [
    "5e9e2c5df359188aba3b2676"
  ],
  "payloads": [
    "5eb0e4d1b6c3bb0006eeb257"
  ],
  "launchpad": "5e9e4502f509094188566f88",
  "auto_update": True,
  "flight_number": 94,
  "name": "CCtCap Demo Mission 2",
  "date_utc": "2020-05-30T19:22:00.000Z",
  "date_unix": 1590866520,
  "date_local": "2020-05-30T15:22:00-04:00",
  "date_precision": "hour",
  "upcoming": False,
  "cores": [
    {
      "core": "5e9e28a7f3591817f23b2663",
      "flight": 1,
      "gridfins": True,
      "legs": True,
      "reused": False,
      "landing_attempt": True,
      "landing_success": True,
      "landing_type": "ASDS",
      "landpad": "5e9e3032383ecb6bb234e7ca"
    }
  ],
  "id": "5eb87d46ffd86e000604b388"
}

In [ ]:
spacex.keys()

In [ ]:
spacex['links']['flickr']['original'][3]

In [ ]:
print(spacex['links']['reddit']['recovery'])

### Quick summary

#### list 

    - append()
    - insert()
    - extend()
    - pop()
    - remove()
    - clear()
    - copy()
    - index()
    - count()
    - reverse()
    - sort()
    


#### tuple 
    - count()
    - index()



#### set
    - add()
    - discard()
    - remove()
    - union()
    - difference()
    - intersection()
    - isdisjoint()
    - issubset() issuperset()
    - update()



#### dictionary
    - keys()
    - values()
    - get()
    - update()
    - items()
    - pop()
    - popitem()

### doubts

In [ ]:
set
colors = {'red' , 'yellow' , 'blue'}

student = {
        'name' : 'Kumar',
        'fee' : 12000
}

In [ ]:
# primitive : int float complex boolean str
# sequence/collection : list set dictionary tuple 


a = 10
b = 10

print(a is b) # address comparision
print(a,b , id(a) , id(b))

In [ ]:
c = (10,20)
d = (10,20)

print(id(c) , id(d))
print( c is d) # addrress 

print(c == d) # content comparision

In [ ]:
num1 = int(input("Enter number:"))

num1 = str(num1)

if num1.count("0") > 0:
    print(num1.count("0"))
else:
    print(-1)

In [ ]:
nums = "1020920927038038"
count = 0 

for n in nums:
    if n == '0'

In [ ]:
companyName = ['Reliance', 'IBM', 'RBC', 'BMO']
numberOfEmployes = ('1000','2500','250','3600')
volume = {'120k', '250k', '365k', '1200k'}
data = {
'Day' :'mon-Fri',
'Time' : '9-5'
}
print(Company_Name)
print(NumberOf_Employee)
print(Volume)
print(Data)

In [ ]:
# List:
studentAges=[40,23,45,33]
print(StudentsAges)

# Tuple:
studentAges=(40,23,45,33)
print(StudentsAges)


#set 
fruits={"Apple","Mango"}

print(Fruits)
        
# Dictionary:
    
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}

print(FruitsTaste)

In [ ]:
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}


dup = fruitsTaste.copy()

print(dup)