## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an ordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

#### INDEXING SUPPORTED Datatypes
- list
- tuple
- str

#### Index not supported Datatypes
- set
- dictionary

In [8]:
studentNames = ["alex", "groot", "tony", "shark"]
print(studentNames)
print(studentNames[1])
print(studentNames[-1])

['alex', 'groot', 'tony', 'shark']
groot
shark

In [10]:
colors = {"red", "blue", "red", "green", "yellow", "blue"}
print(colors)

{'yellow', 'red', 'green', 'blue'}

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [11]:
intVar = -1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

-1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 <class 'int'>

In [12]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

1029
<class 'int'>

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7   6  5  4  3  2 1 0 
values:     128 64 32 16 8  4 2 1 (2^loc)

In [15]:
print(bin(255))

0b11111111

In [16]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

15

In [ ]:
print(bin(10)) #convert any decimal -- binary 
print(bin(5))

In [17]:
c = 0o10
d = 0b100

print(c+d)

12

In [18]:
print(oct(8)) #any decimal - octal

0o10

In [19]:
e = 0xA
f = 0xB

print(e+f)

21

In [ ]:
print(hex(11))

In [20]:
a = 5
b = 6
c = 7

s = (a+b+c)/2

value = (s*(s-a)*(s-b)*(s-c)) ** 0.5

print(value)

14.696938456699069

### Float 
    - any decimal points is considered as float datatypes

In [23]:
floatVar = 1.

print(floatVar , type(floatVar))

1.0 <class 'float'>

In [ ]:
* -- multiplication
** -- expo / power

In [24]:
print(10*3)
print(10**3)

30
1000

In [25]:
print(2+3*5)

17

In [26]:
# ex: 10.5*10^3

a = 10.5*(10**3)

print(a)

10500.0

In [29]:
b = 10.5e-3 # e ---> 10^n

print(b)

0.0105

In [30]:
print(3e-3) # 3*10-3

0.003

### Strings 
    - collectional of characaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - multi-line strings

In [33]:
singleQ = 'Hello World June 2023'
print(singleQ)
print(singleQ[0])
print(singleQ[-1])

Hello World June 2023
H
3

In [34]:
# It's a good movie
print('It's a good movie')

SyntaxError: unterminated string literal (detected at line 2) (1585797800.py, line 2)

In [35]:
print('It\'s a good movie')


print("It's a good movie")

It's a good movie
It's a good movie

In [ ]:
# python is "oops" lang

In [37]:
c = "python is \"oops\" language"

print(c)

python is "oops" language

In [38]:
c = """"python is "oops" language"""

print(c)

"python is "oops" language

In [39]:
d = """python is oops
and functional
language"""

print(d)

python is oops
and functional
language

In [40]:
d = '''python is oops
and functional
language'''

print(d)

python is oops
and functional
language

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [41]:
comVar = 6+8j

In [42]:
print(comVar , type(comVar))

(6+8j) <class 'complex'>

In [43]:
comvar2 = 7j # 0+7j

print(comvar2, type(comvar2))

7j <class 'complex'>

### Boolean
    - True or False values consider as boolean

In [45]:
bol_var = True # 1
bol_var2 = False # 0

print(bol_var + bol_var2)
print(bol_var * bol_var2)

1
0

### Try these

- Read a Number from Keyboard
- Count number of zeros in it:
- If no zeroes were found , by default print -1

    ex: num = 102630280
        
        o/p: 3
        
     ex: num = 98339829
         
         o/p: -1

In [ ]:
I want to store 100 students names ?

how variables required? 100

st1_name = "ram"
st2_name = "venu"
..
..
..
st100_name = "kumar"

In [47]:
studentNames = ["ram","venu","kumar"] #collection of items/elemets of same type or different type

In [48]:
print(studentNames)
print(studentNames[2])

['ram', 'venu', 'kumar']
kumar

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [49]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado' , "grape"] # all the same data types - a list of strings (fruits)

countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)

mixedList = ['Banana', 10, False, 9.81, 1+2j] # different data types in the list - string, integer, boolean and float

[0, 1, 2, 3, 4, 5] <class 'list'>

In [ ]:
print(len(fruits))

In [50]:
# accessing VarName[index]  
print(fruits , type(fruits))

print(type(fruits[0]))

print(fruits[2])

['Banana', 'Orange', 'Mango', 'Avocado', 'grape'] <class 'list'>
<class 'str'>
Mango

In [51]:
print(fruits[5])

#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

IndexError: list index out of range

In [52]:
print(fruits[3])

Avocado

In [53]:
n = len(fruits)
print(n)
print(fruits[n-1])  #n-1 is the last location

5
grape

In [54]:
print(fruits[-1])

grape

In [56]:
print(fruits[-6])

IndexError: list index out of range

In [57]:
print(fruits)

['Banana', 'Orange', 'Mango', 'Avocado', 'grape']

In [58]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

['Banana', 'Orange', 'Mango', 'pineapple', 'grape']

In [59]:
fruits[6] = "grape"
print(fruits)

IndexError: list assignment index out of range

In [60]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

['Banana', 10, False, 9.81, (1+2j)]
False
(1+2j)
<class 'str'>

In [61]:
# attributes and methods 
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..])
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [62]:
print(dir( [] ))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [64]:
#append() : always add data to the end of the list , adds only one element at a time,
countries = ['Finland','Estonia', 'Sweden','Norway']


countries.append("India")
print(countries)



countries.append("Fiji")
print(countries)


countries.append("USA","AUS") #error
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']
['Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Fiji']

TypeError: list.append() takes exactly one argument (2 given)

In [65]:
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Fiji']

In [66]:
#insert(indNum,object/element) : insert the data at specific location or index.

countries.insert(0,"England")
print(countries)

['England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Fiji']

In [67]:
countries.insert(-1,"Pak" )
print(countries)

['England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji']

In [68]:
print(len(countries))
print(countries[-7])

8
Finland

In [69]:
countries.insert(-10,"Cuba") 
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji']

In [70]:
countries.insert(100,"Seria")
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria']

In [73]:
# extend([obj1,obj2..])

countries.extend(["Russai","Seria","Finland","Norway","Pak"])
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak']

### Try these
- Display only unquie contries

In [74]:
print(countries, len(countries))

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak'] 20

In [77]:
print(type(countries), len(countries))

<class 'list'> 20

In [76]:
unqiue_countries = set(countries)# set into list using set()

print(unqiue_countries , len(unqiue_countries), type(unqiue_countries))

{'Cuba', 'Fiji', 'Norway', 'Pak', 'Sweden', 'Estonia', 'England', 'Seria', 'India', 'Russai', 'Finland'} 11 <class 'set'>

In [83]:
result = countries.append('canada')
print(result, countries)

None ['Cuba', 'England', 'Finland', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'canada']

In [ ]:
unqiue_countries

# Very Function/Method in python , when called , they will do the operation on data , and respond back with some data.
# If function doesn't return any data,by default it return None Type.

# 1. storing fun/metho call in a variable
# 2. calling fun inside another fun.

In [78]:
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak']

In [82]:
result = print("hello") # storing fun call in a var
print(result)

hello
None

In [79]:
# pop()
r = countries.pop() #pop() will remove and return the popped element
print(r)

Pak

In [80]:
print(countries.pop(3)) # give only valid locations/index

Estonia

In [81]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

[]

IndexError: pop from empty list

In [84]:
print(countries)

['Cuba', 'England', 'Finland', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'canada']

In [85]:
# remove()
countries.remove("England")
print(countries)

['Cuba', 'Finland', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'canada']

In [90]:
res = countries.remove("India")
print(res)

None

In [91]:
countries.remove("South Af")

ValueError: list.remove(x): x not in list

In [87]:
print(countries)

['Cuba', 'Finland', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak', 'Russai', 'Seria', 'Finland', 'Norway', 'canada']

In [ ]:
print(countries.pop())

In [92]:
names = ["Prakash","Manoj","Kumar","Lavanya"]

r1 = names.pop() #default : -1 
print(r1)
print(names)

r2 = names.remove("Kumar") #not returning any value
print(r2)
print(names)

Lavanya
['Prakash', 'Manoj', 'Kumar']
None
['Prakash', 'Manoj']

In [93]:
# reverse()
countries.reverse()

print(countries)

['canada', 'Norway', 'Finland', 'Seria', 'Russai', 'Pak', 'Norway', 'Finland', 'Seria', 'Russai', 'Seria', 'Fiji', 'Pak', 'Norway', 'Finland', 'Cuba']

In [95]:
# sort()
countries.sort(reverse=True)
print(countries)

['canada', 'Seria', 'Seria', 'Seria', 'Russai', 'Russai', 'Pak', 'Pak', 'Norway', 'Norway', 'Norway', 'Finland', 'Finland', 'Finland', 'Fiji', 'Cuba']

In [99]:
lst = "RCB MI CSK RR KKR GT PB".split() #str - list
print(lst)


lst.sort(reverse = True) #ascending (small - big)

print(lst)

# ##ascii

print(ord("C") , ord("G"))

['RCB', 'MI', 'CSK', 'RR', 'KKR', 'GT', 'PB']
['RR', 'RCB', 'PB', 'MI', 'KKR', 'GT', 'CSK']
67 71

In [ ]:
msg = 'Hi hello Welcome Datatypes Session'.split()

print(msg)

msg.sort()

print(msg)

In [101]:
print(ord("A") , ord('Z') , ord('a') , ord('z'))
print(chr(89))

65 90 97 122
Y

In [102]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

[0, 1, 262, 293, 2982, 2983]
[2983, 2982, 293, 262, 1, 0]

In [ ]:
print(lst)

In [110]:
# count() - display the occurence of a data element.

print(countries)

print(countries.count("Finland"))
print(countries.count("Seria"))
print(countries.count("India"))




lst = 'K u m a r R a j a m o n i p y t h o n t u T o R'.split()
print(lst)

print(lst.count("z"))

print(lst.count(" "))

['canada', 'Seria', 'Seria', 'Seria', 'Russai', 'Russai', 'Pak', 'Pak', 'Norway', 'Norway', 'Norway', 'Finland', 'Finland', 'Finland', 'Fiji', 'Cuba']
3
3
0
['K', 'u', 'm', 'a', 'r', 'R', 'a', 'j', 'a', 'm', 'o', 'n', 'i', 'p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'T', 'o', 'R']
0
0

In [113]:
# index() - return the index number of a data element.

print(countries)
print(countries.index("Finland"))

print(lst.index("T")) #return the fist index

['canada', 'Seria', 'Seria', 'Seria', 'Russai', 'Russai', 'Pak', 'Pak', 'Norway', 'Norway', 'Norway', 'Finland', 'Finland', 'Finland', 'Fiji', 'Cuba']
11
21

In [ ]:
print(lst.index("a"))

In [114]:
# clear()
nums = [10,203,40]
print(nums)


nums.clear()

#after clear
print(nums)

[10, 203, 40]
[]

In [117]:
nums = [10,203,40]
print(nums)


del nums #removes from memory
print(nums)

[10, 203, 40]

NameError: name 'nums' is not defined

In [ ]:
# copy()

countries = ["india" ,"bang","korea"]
copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

In [ ]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

In [ ]:
# summary 
    ==> insertion
    ================
        append(obj)
        insert(ind,obj)
        extend([obj1,obj2...objn])
        
        
    deletion
    =======================
        pop(index=-1)
        remove(vaue) # if value is not exists , raise ValueError
        
    popular 
    ============================
    reverse()
    count()
    index()
    sort() #default is desc
    clear()
    copy()
    
    
        OBSERVATION
    =============================
    - insert() , even index is +ve/-ve invalid , we can insert the data
    - pop() default will remove last indexed element
    - we can't pop empty list
    - remove() will throw Error if element is not there
    - sort(reverse=True) : asc order.
    - copy() method , it create new variable with different memory addr.

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [1]:
planets = ('Earth',"Venus", 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [2]:
print(planets , type(planets) , len(planets))

('Earth', 'Venus', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') <class 'tuple'> 9

In [ ]:
print(planets[1])

In [ ]:
print(planets[-1])

In [ ]:
print(planets[-100])

In [3]:
planets[1] = "Pluto" #error

TypeError: 'tuple' object does not support item assignment

In [4]:
print(dir(planets))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### tuple methods
    - count()
    - index()

In [ ]:
print(dir( () ))

In [5]:
planets.count("Mars")

1

In [6]:
planets.count("Aplha")

0

In [7]:
planets

('Earth',
 'Venus',
 'Jupiter',
 'Neptune',
 'Mars',
 'Venus',
 'Saturn',
 'Uranus',
 'Mercury')

In [8]:
planets.index("Venus")

1

In [9]:
planets.index("Pluto")

ValueError: tuple.index(x): x not in tuple

In [13]:
number = input("Enter a number to count number of zeros")
if number.count("0") != 0:
    print(number.count("0"))
else:
    print("-1")

Enter a number to count number of zeros029028782
2

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [15]:
print(type( () )) #tuple
print(type([])) #list
print(type({})) # dictionary
d = set() 
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'set'>

In [16]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

{'Aus', 'Bang', 'Ind', 'Pak', 'Sa', 'Eng'}

In [17]:
print(teams[0]) #error set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [18]:
print(dir(teams))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [19]:
print(type( [] ))
print(type( () ))
print(type( {} ))
print(type( set() ))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [20]:
print(teams)

{'Aus', 'Bang', 'Ind', 'Pak', 'Sa', 'Eng'}

In [21]:
teams.add("Zimb") #add data to the set.

In [22]:
print(teams)

{'Aus', 'Bang', 'Ind', 'Zimb', 'Pak', 'Sa', 'Eng'}

In [23]:
teams.discard("Eng") #no element no  error 
print(teams)

{'Aus', 'Bang', 'Ind', 'Zimb', 'Pak', 'Sa'}

In [24]:
teams.remove("Sa") #no element will throw error
print(teams)

{'Aus', 'Bang', 'Ind', 'Zimb', 'Pak'}

In [25]:
teams.remove("USA") #raise Error if not a element
print(teams)

KeyError: 'USA'

In [26]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

{'amazon'}

In [27]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

{'netflix'}

In [28]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

{'netflix', 'google', 'apple', 'amazon'}
{'netflix', 'google', 'apple', 'amazon'}

In [29]:
# intersection
print(x.intersection(y)) #common elements

{'google', 'apple'}

In [30]:
print(x)

{'google', 'apple', 'amazon'}

In [32]:
print(x.pop())

apple

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [37]:
a = {"iphone12","iphone13","iphone16"}
b = {"iphone15","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

False

In [38]:
c = {"iphone12","iphone14"}

print(c.issubset(a))

False

In [39]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]
print(len(lst))

7

In [40]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

{10, 20, 30} 3

In [ ]:
#prebild method 
int()
float()
complex()
bool()
str()

list()
tuple()
set()
dict()

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [41]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python'],
     'cricketTeamName' : 'Bharat',
    }

print(team , type(team))

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [42]:

print(type(10))

print(type("kumar"))

print(type([]))

print(type( () ))


print(type(set()))

print(type({}))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [43]:
team

{'cricketTeamName': 'India',
 'Captain': 'RS',
 'country': 'India',
 'year': 2022,
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [44]:
team[0]

KeyError: 0

In [46]:
team['players']

KeyError: 'players'

In [47]:
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [48]:
print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [49]:
print(team['country'])

India

In [50]:
print(team["Captain"])

RS

In [51]:
print(team["Players"])

['Virat', 'Rohit', 'Bhu', 'Python']

In [52]:
print(team['ipl_captain'])

KeyError: 'ipl_captain'

### methods

In [59]:
#get()
print(team.get('Players'))

['Virat', 'Rohit', 'Bhu', 'Python']

In [57]:
print(team['ipl_captain']) #fastest

KeyError: 'ipl_captain'

In [61]:
print(team.get("Year","key not there"))

key not there

In [ ]:
['keyname'] --> always should be valid key otherwise raise keyerror
.get('keyname') --> if key is invalid it will print None or some text

In [62]:
#keys()
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [63]:
#values()
print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [64]:
#items() --[(K1,V1),(K2,V2)....] list of tuples

print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'RS'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [65]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [66]:
team.update({'year' : 2023})
print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [67]:
team.update({"Captain":"KL Rahul"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [68]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [69]:
team.update({"iplCaptain" : 'Kohli'})
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'iplCaptain': 'Kohli'}

In [70]:
res = team.pop("year")
print(res)

2023

In [71]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'iplCaptain': 'Kohli'}

In [72]:
print(team.pop('iplCaptain'))

Kohli

In [73]:
team

{'cricketTeamName': 'India',
 'Captain': 'KL Rahul',
 'country': 'India',
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [76]:
print(team.popitem()) #always remove last (k,v)

('is_top20', True)

In [77]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India'}

In [80]:
student = {
    
    ("name",) : "mahesh",
    10 : "ruby",
    False : True,
    1+2j : "complex"
}

print(student)


student.popitem()
student.popitem()
student.popitem()
print(student)
student.popitem()
student.popitem()

{('name',): 'mahesh', 10: 'ruby', False: True, (1+2j): 'complex'}
{('name',): 'mahesh'}

KeyError: 'popitem(): dictionary is empty'

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalid key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry(k,v)

### Try these?
    - can we create/declare duplicate keys in dictionary?
     if yes what's behaviour.

In [82]:
users = {
	"page": 2,
	"per_page": 6,
	"total": 12,
	"total_pages": 2,
	"data": [
		{
			"id": 7,
			"email": "michael.lawson@reqres.in",
			"first_name": "Michael",
			"last_name": "Lawson",
			"avatar": "https://reqres.in/img/faces/7-image.jpg"
		},
		{
			"id": 8,
			"email": "lindsay.ferguson@reqres.in",
			"first_name": "Lindsay",
			"last_name": "Ferguson",
			"avatar": "https://reqres.in/img/faces/8-image.jpg"
		},
		{
			"id": 9,
			"email": "tobias.funke@reqres.in",
			"first_name": "Tobias",
			"last_name": "Funke",
			"avatar": "https://reqres.in/img/faces/9-image.jpg"
		},
		{
			"id": 10,
			"email": "byron.fields@reqres.in",
			"first_name": "Byron",
			"last_name": "Fields",
			"avatar": "https://reqres.in/img/faces/10-image.jpg"
		},
		{
			"id": 11,
			"email": "george.edwards@reqres.in",
			"first_name": "George",
			"last_name": "Edwards",
			"avatar": "https://reqres.in/img/faces/11-image.jpg"
		},
		{
			"id": 12,
			"email": "rachel.howell@reqres.in",
			"first_name": "Rachel",
			"last_name": "Howell",
			"avatar": "https://reqres.in/img/faces/12-image.jpg"
		}
	],
	"support": {
		"url": "https://reqres.in/#support-heading",
		"text": "To keep ReqRes free, contributions towards server costs are appreciated!"
	}
}

In [83]:
users.keys()

dict_keys(['page', 'per_page', 'total', 'total_pages', 'data', 'support'])

In [86]:
users['support']['text']

'To keep ReqRes free, contributions towards server costs are appreciated!'

In [92]:
users['data'][3]['first_name']

'Byron'

In [93]:
data = {"isbn": "123-456-222",  
 "author": 
    {
      "lastname": "Doe",
      "firstname": "Jane"
    },
"editor": 
    {
      "lastname": "Smith",
      "firstname": "Jane"
    },
  "title": "The Ultimate Database Study Guide",  
  "category": ["Non-Fiction", "Technology"]
 }

In [94]:
data.keys()

dict_keys(['isbn', 'author', 'editor', 'title', 'category'])

In [96]:
data['author']['lastname']

'Doe'

In [97]:
data['category'][-1]

'Technology'

In [98]:
spacex = {
  "fairings": None,
  "links": {
    "patch": {
      "small": "https://images2.imgbox.com/eb/0f/Vev7xkUX_o.png",
      "large": "https://images2.imgbox.com/ab/79/Wyc9K7fv_o.png"
    },
    "reddit": {
      "campaign": "https://www.reddit.com/r/spacex/comments/fjf6rr/dm2_launch_campaign_thread/",
      "launch": "https://www.reddit.com/r/spacex/comments/glwz6n/rspacex_cctcap_demonstration_mission_2_general",
      "media": "https://www.reddit.com/r/spacex/comments/gp1gf5/rspacex_dm2_media_thread_photographer_contest/",
      "recovery": "https://www.reddit.com/r/spacex/comments/gu5gkd/cctcap_demonstration_mission_2_stage_1_recovery/"
    },
    "flickr": {
      "small": [],
      "original": [
        "https://live.staticflickr.com/65535/49927519643_b43c6d4c44_o.jpg",
        "https://live.staticflickr.com/65535/49927519588_8a39a3994f_o.jpg",
        "https://live.staticflickr.com/65535/49928343022_6fb33cbd9c_o.jpg",
        "https://live.staticflickr.com/65535/49934168858_cacb00d790_o.jpg",
        "https://live.staticflickr.com/65535/49934682271_fd6a31becc_o.jpg",
        "https://live.staticflickr.com/65535/49956109906_f88d815772_o.jpg",
        "https://live.staticflickr.com/65535/49956109706_cffa847208_o.jpg",
        "https://live.staticflickr.com/65535/49956109671_859b323ede_o.jpg",
        "https://live.staticflickr.com/65535/49955609618_4cca01d581_o.jpg",
        "https://live.staticflickr.com/65535/49956396622_975c116b71_o.jpg",
        "https://live.staticflickr.com/65535/49955609378_9b77e5c771_o.jpg",
        "https://live.staticflickr.com/65535/49956396262_ef41c1d9b0_o.jpg"
      ]
    },
    "presskit": "https://www.nasa.gov/sites/default/files/atoms/files/commercialcrew_press_kit.pdf",
    "webcast": "https://youtu.be/xY96v0OIcK4",
    "youtube_id": "xY96v0OIcK4",
    "article": "https://spaceflightnow.com/2020/05/30/nasa-astronauts-launch-from-us-soil-for-first-time-in-nine-years/",
    "wikipedia": "https://en.wikipedia.org/wiki/Crew_Dragon_Demo-2"
  },
  "static_fire_date_utc": "2020-05-22T17:39:00.000Z",
  "static_fire_date_unix": 1590169140,
  "tdb": False,
  "net": False,
  "window": 0,
  "rocket": "5e9d0d95eda69973a809d1ec",
  "success": True,
  "failures": [],
  "details": "SpaceX will launch the second demonstration mission of its Crew Dragon vehicle as part of NASA's Commercial Crew Transportation Capability Program (CCtCap), carrying two NASA astronauts to the International Space Station. Barring unexpected developments, this mission will be the first crewed flight to launch from the United States since the end of the Space Shuttle program in 2011. DM-2 demonstrates the Falcon 9 and Crew Dragon's ability to safely transport crew to the space station and back to Earth and it is the last major milestone for certification of Crew Dragon. Initially the mission duration was planned to be no longer than two weeks, however NASA has been considering an extension to as much as six weeks or three months. The astronauts have been undergoing additional training for the possible longer mission.",
  "crew": [
    "5ebf1b7323a9a60006e03a7b",
    "5ebf1a6e23a9a60006e03a7a"
  ],
  "ships": [
    "5ea6ed30080df4000697c913",
    "5ea6ed2f080df4000697c90b",
    "5ea6ed2f080df4000697c90c",
    "5ea6ed2e080df4000697c909",
    "5ea6ed2f080df4000697c90d"
  ],
  "capsules": [
    "5e9e2c5df359188aba3b2676"
  ],
  "payloads": [
    "5eb0e4d1b6c3bb0006eeb257"
  ],
  "launchpad": "5e9e4502f509094188566f88",
  "auto_update": True,
  "flight_number": 94,
  "name": "CCtCap Demo Mission 2",
  "date_utc": "2020-05-30T19:22:00.000Z",
  "date_unix": 1590866520,
  "date_local": "2020-05-30T15:22:00-04:00",
  "date_precision": "hour",
  "upcoming": False,
  "cores": [
    {
      "core": "5e9e28a7f3591817f23b2663",
      "flight": 1,
      "gridfins": True,
      "legs": True,
      "reused": False,
      "landing_attempt": True,
      "landing_success": True,
      "landing_type": "ASDS",
      "landpad": "5e9e3032383ecb6bb234e7ca"
    }
  ],
  "id": "5eb87d46ffd86e000604b388"
}

In [99]:
spacex.keys()

dict_keys(['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix', 'tdb', 'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew', 'ships', 'capsules', 'payloads', 'launchpad', 'auto_update', 'flight_number', 'name', 'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming', 'cores', 'id'])

In [105]:
spacex['links']['flickr']['original'][3]

'https://live.staticflickr.com/65535/49934168858_cacb00d790_o.jpg'

In [ ]:
print(spacex['links']['reddit']['recovery'])

### Quick summary

#### list 

    - append()
    - insert()
    - extend()
    - pop()
    - remove()
    - clear()
    - copy()
    - index()
    - count()
    - reverse()
    - sort()
    


#### tuple 
    - count()
    - index()



#### set
    - add()
    - discard()
    - remove()
    - union()
    - difference()
    - intersection()
    - isdisjoint()
    - issubset() issuperset()
    - update()



#### dictionary
    - keys()
    - values()
    - get()
    - update()
    - items()
    - pop()
    - popitem()

### doubts

In [ ]:
set
colors = {'red' , 'yellow' , 'blue'}

student = {
        'name' : 'Kumar',
        'fee' : 12000
}

In [ ]:
# primitive : int float complex boolean str
# sequence/collection : list set dictionary tuple 


a = 10
b = 10

print(a is b) # address comparision
print(a,b , id(a) , id(b))

In [ ]:
c = (10,20)
d = (10,20)

print(id(c) , id(d))
print( c is d) # addrress 

print(c == d) # content comparision

In [ ]:
num1 = int(input("Enter number:"))

num1 = str(num1)

if num1.count("0") > 0:
    print(num1.count("0"))
else:
    print(-1)

In [ ]:
nums = "1020920927038038"
count = 0 

for n in nums:
    if n == '0'

In [ ]:
companyName = ['Reliance', 'IBM', 'RBC', 'BMO']
numberOfEmployes = ('1000','2500','250','3600')
volume = {'120k', '250k', '365k', '1200k'}
data = {
'Day' :'mon-Fri',
'Time' : '9-5'
}
print(Company_Name)
print(NumberOf_Employee)
print(Volume)
print(Data)

In [ ]:
# List:
studentAges=[40,23,45,33]
print(StudentsAges)

# Tuple:
studentAges=(40,23,45,33)
print(StudentsAges)


#set 
fruits={"Apple","Mango"}

print(Fruits)
        
# Dictionary:
    
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}

print(FruitsTaste)

In [ ]:
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}


dup = fruitsTaste.copy()

print(dup)