## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an ordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

#### INDEXING SUPPORTED Datatypes
- list
- tuple
- str

#### Index not supported Datatypes
- set
- dictionary [ supports key based index]

In [3]:
studentNames = ["alex", "groot", "tony", "shark"]
print(studentNames)
print(studentNames[4])

['alex', 'groot', 'tony', 'shark']

IndexError: list index out of range

In [4]:
colors = {"red", "blue", "red", "green", "yellow", "blue"} # unordered & unindexed 
print(colors)

{'yellow', 'green', 'blue', 'red'}

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [5]:
intVar = -1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

-1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 <class 'int'>

In [6]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

1029
<class 'int'>

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7    6   5   4   3  2  1  0 
values:     128  64  32  16  8  4  2  1 (2^loc)

In [ ]:
print(bin(255))

In [7]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

15

In [8]:
print(bin(10)) #convert any decimal -- binary 
print(bin(5))

0b1010
0b101

In [9]:
c = 0o10
d = 0b100

print(c+d)

12

In [10]:
print(oct(8))#any decimal - octal

0o10

In [11]:
e = 0xA
f = 0xB

print(e+f)

21

In [1]:
print(hex(27))
print(hex(10))

0x1b
0xa

### Float 
    - any decimal points is considered as float datatypes

In [4]:
floatVar = 1.

print(floatVar , type(floatVar))

1.0 <class 'float'>

In [ ]:
* -- multiplication
** -- expo / power

In [5]:
print(10*3)
print(10**3)

30
1000

In [6]:
# ex: 10.5*10^3

a = 10.5*(10**3)
print(a)

10500.0

In [8]:
b = 10.5e3 # e ---> 10^n
print(b)

0.0105

In [9]:
print(3e-3) # 3*10-3

0.003

### Strings 
    - collectional of characaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - multi-line strings

In [10]:
singleQ = 'Hello World June 2023'
print(singleQ)
print(singleQ[0])
print(singleQ[-1])

Hello World June 2023
H
3

In [15]:
# It's a good movie
print('It's a good movie')

SyntaxError: unterminated string literal (detected at line 2) (1585797800.py, line 2)

In [13]:
print("It's a good movie")
print('It\'s a good movie')

It's a good movie
It's a good movie

In [ ]:
# python is "oops" lang

In [17]:
c = "python is \"oops\" language"
print(c)

python is "oops" language

In [19]:
c = """"python is "oops" language"""
print(c)

"python is "oops" language

In [20]:
d = """python is oops
and functional
language"""

print(d)

python is oops
and functional
language

In [21]:
d = '''python is oops
and functional
language'''

print(d)

python is oops
and functional
language

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [22]:
comVar = 6+8j

In [23]:
print(comVar , type(comVar))

(6+8j) <class 'complex'>

In [24]:
comvar2 = 7j # 0+7j
print(comvar2, type(comvar2))

7j <class 'complex'>

### Boolean
    - True or False values consider as boolean

In [25]:
bol_var = True # 1
bol_var2 = False # 0

print(bol_var + bol_var2)
print(bol_var * bol_var2)

1
0

### Try these

- Read a Number from Keyboard
- Count number of zeros in it:
- If no zeroes were found , by default print -1

    ex: num = 102630280
        
        o/p: 3
        
     ex: num = 98339829
         
         o/p: -1

In [ ]:
I want to store 100 students names ?

how variables required? 100

st1_name = "ram"
st2_name = "venu"
..
..
..
st100_name = "kumar"

In [ ]:
studentNames = ["ram","venu","kumar"] #collection of items/elemets of same type or different type

In [ ]:
print(studentNames)
print(studentNames[2])

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [1]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado' , "grape"] # all the same data types - a list of strings (fruits)

countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)

mixedList = ['Banana', 10, False, 9.81, 1+2j] # different data types in the list - string, integer, boolean and float

[0, 1, 2, 3, 4, 5] <class 'list'>

In [2]:
print(len(fruits))

5

In [3]:
# accessing VarName[index]  
print(fruits , type(fruits))

print(type(fruits[0]))

print(fruits[2])

['Banana', 'Orange', 'Mango', 'Avocado', 'grape'] <class 'list'>
<class 'str'>
Mango

In [4]:
print(fruits[5])

#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

IndexError: list index out of range

In [ ]:
print(fruits[3])

In [ ]:
n = len(fruits)
print(n)
print(fruits[n-1])  #n-1 is the last location

In [ ]:
print(fruits[-1])

In [ ]:
print(fruits[-6])

In [ ]:
print(fruits)

In [ ]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

In [ ]:
fruits[6] = "grape"
print(fruits)

In [ ]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

In [ ]:
# attributes and methods 
print(dir(fruits))

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..])
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [5]:
print(dir( [] ))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [6]:
#append() : always add data to the end of the list , adds only one element at a time,
countries = ['Finland','Estonia', 'Sweden','Norway']


countries.append("India")
print(countries)



countries.append("Fiji")
print(countries)


countries.append("USA","AUS") #error
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']
['Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Fiji']

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Fiji']

In [8]:
#insert(indNum,object/element) : insert the data at specific location or index.

countries.insert(0,"England")
print(countries)

['England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Fiji']

In [9]:
countries.insert(-1,"Pak" )
print(countries)

['England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji']

In [10]:
print(len(countries))
print(countries[-7])
print(countries[-8])

8
Finland
England

In [11]:
countries.insert(-10,"Cuba") 
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji']

In [12]:
countries.insert(100,"Seria")
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria']

In [13]:
# extend([obj1,obj2..])

countries.extend(["Russai","Seria","Finland","Norway","Pak"])
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak']

### Try these
- Display only unquie contries

In [14]:
print(countries, len(countries))

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak'] 15

In [15]:
unqiue_countries = set(countries)# set into list using set()

print(unqiue_countries , len(unqiue_countries), type(unqiue_countries))

{'India', 'Estonia', 'Sweden', 'Russai', 'Pak', 'Cuba', 'England', 'Norway', 'Seria', 'Fiji', 'Finland'} 11 <class 'set'>

In [16]:
unqiue_countries

# Every Function/Method in python , when called , they will do the operation on data , and respond back with some data.
# If function doesn't return any data,by default it return None Type.

# 1. storing fun/method call in a variable
# 2. calling fun inside another fun.

{'Cuba',
 'England',
 'Estonia',
 'Fiji',
 'Finland',
 'India',
 'Norway',
 'Pak',
 'Russai',
 'Seria',
 'Sweden'}

In [17]:
var = print('Hi Azure AI')
print(var)

print(print('Hi Priya'))

print(print( print ( ) ))

Hi Azure AI
None
Hi Priya
None

None
None

In [18]:
print(countries)

['Cuba', 'England', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway', 'Pak']

In [19]:
result = print("hello") # storing fun call in a var
print(result)

hello
None

In [20]:
# pop() : index based deletion
r = countries.pop() #pop() will remove and return the popped element
print(r)

Pak

In [21]:
print(countries.pop(3)) # give only valid locations/index

Estonia

In [22]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

[]

IndexError: pop from empty list

In [23]:
print(countries)

['Cuba', 'England', 'Finland', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway']

In [24]:
# remove() : value based deletion
countries.remove("England")
print(countries)

['Cuba', 'Finland', 'Sweden', 'Norway', 'India', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway']

In [25]:
res = countries.remove("India")
print(res)

None

In [26]:
help(countries)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [27]:
print(countries)

['Cuba', 'Finland', 'Sweden', 'Norway', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway']

In [28]:
countries.remove("South Af")

ValueError: list.remove(x): x not in list

In [29]:
print(countries)

['Cuba', 'Finland', 'Sweden', 'Norway', 'Pak', 'Fiji', 'Seria', 'Russai', 'Seria', 'Finland', 'Norway']

In [30]:
names = ["Prakash","Manoj","Kumar","Lavanya"]

r1 = names.pop() #default : -1 
print(r1)
print(names)


r2 = names.remove("Kumar") #not returning any value
print(r2)
print(names)

Lavanya
['Prakash', 'Manoj', 'Kumar']
None
['Prakash', 'Manoj']

In [31]:
# reverse()
countries.reverse()

print(countries)

['Norway', 'Finland', 'Seria', 'Russai', 'Seria', 'Fiji', 'Pak', 'Norway', 'Sweden', 'Finland', 'Cuba']

In [80]:
# sort()
countries.sort(reverse=True)
print(countries)

['Sweden', 'Seria', 'Seria', 'Russai', 'Pak', 'Norway', 'Norway', 'Finland', 'Finland', 'Fiji', 'Cuba']

In [32]:
lst = "RCB MI CSK RR KKR GT PB".split() #str - list
print(lst)


lst.sort(reverse = True) #ascending (small - big)

print(lst)

# ##ascii

print(ord("C") , ord("G"))

['RCB', 'MI', 'CSK', 'RR', 'KKR', 'GT', 'PB']
['RR', 'RCB', 'PB', 'MI', 'KKR', 'GT', 'CSK']
67 71

In [33]:
msg = 'Hi hello Welcome Datatypes Session'.split()

print(msg)

msg.sort()

print(msg)

['Hi', 'hello', 'Welcome', 'Datatypes', 'Session']
['Datatypes', 'Hi', 'Session', 'Welcome', 'hello']

In [34]:
print(ord("A") , ord('Z') , ord('a') , ord('z'))
print(chr(89))

65 90 97 122
Y

In [57]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

[0, 1, 262, 293, 2982, 2983]
[2983, 2982, 293, 262, 1, 0]

In [35]:
print(lst)

['RR', 'RCB', 'PB', 'MI', 'KKR', 'GT', 'CSK']

In [36]:
print(countries)

['Norway', 'Finland', 'Seria', 'Russai', 'Seria', 'Fiji', 'Pak', 'Norway', 'Sweden', 'Finland', 'Cuba']

In [39]:
# count() - display the occurence of a data element.

print(countries)

print(countries.count("Finland"))
print(countries.count("Seria"))
print(countries.count("India"))




lst = 'K u m a r R a j a m o n i p y t h o n t u T o R'.split()
print(lst)

print(lst.count("z"))

print(lst.count(" "))

print(lst.count('a'))

['Norway', 'Finland', 'Seria', 'Russai', 'Seria', 'Fiji', 'Pak', 'Norway', 'Sweden', 'Finland', 'Cuba']
2
2
0
['K', 'u', 'm', 'a', 'r', 'R', 'a', 'j', 'a', 'm', 'o', 'n', 'i', 'p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'T', 'o', 'R']
0
0
3

In [40]:
# index() - return the index number of a data element.

print(countries)
print(countries.index("Finland"))

print(lst.index("T")) #return the fist index

['Norway', 'Finland', 'Seria', 'Russai', 'Seria', 'Fiji', 'Pak', 'Norway', 'Sweden', 'Finland', 'Cuba']
1
21

In [42]:
print(lst.index("a"))
print(countries.index('India'))

3

ValueError: 'India' is not in list

In [43]:
# clear()
nums = [10,203,40]
print(nums)


nums.clear()

#after clear
print(nums)

[10, 203, 40]
[]

In [44]:
nums = [10,203,40]
print(nums)


del nums #removes from memory
print(nums)

[10, 203, 40]

NameError: name 'nums' is not defined

In [45]:
# copy()

countries = ["india" ,"bang","korea"]
copyVar = countries.copy() # shallow copy

print(copyVar)

print(id(copyVar) , id(countries))

['india', 'bang', 'korea']
2071087786112 2071087902784

In [46]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

['SouthAfrica', 'bang', 'korea']
['india', 'bang', 'korea']

#### using = operators 

In Python, we use = operator to create a copy of an object. we may think that this creates a new object/memory; it doesn't. It only creates a new variable that shares the reference of the original object.

In [48]:



old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_list = old_list


print('Old List:', old_list)
print('ID of Old List:', id(old_list))

print('New List:', new_list)
print('ID of New List:', id(new_list))

new_list[2][2] = 9

print("*** After updating  ******")
print('Old List:', old_list)
print('ID of Old List:', id(old_list))

print('New List:', new_list)
print('ID of New List:', id(new_list))

Old List: [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
ID of Old List: 2071087854272
New List: [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
ID of New List: 2071087854272
*** After updating  ******
Old List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ID of Old List: 2071087854272
New List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ID of New List: 2071087854272

#### Shallow vs Deep Copy 

- Essentially, sometimes we may want to have the original values unchanged and only modify the new values or vice versa. In Python, there are two ways to create copies:

    - Shallow Copy
    - Deep Copy

- To make these copy work, we use the copy module.

- We use the copy module of Python for shallow and deep copy operations

```python
import copy
copy.copy(x)
copy.deepcopy(x)
```

#### Shallow Copy

- A shallow copy creates a new object which stores the reference of the original elements.

- So, a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects.
- This means, a copy process does not recurse or create copies of nested objects itself.

```python
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

#  Adding [4, 4, 4] to old_list, using shallow copy
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

# updating nested object using Shallow copy
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)
```



#### Deep Copy

- A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.
```python
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

## updating nested object in the list using Deep copy

import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)
```

#### shallow copy

In [52]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)

print("Old list:", old_list, id(old_list))
print("New list:", new_list, id(new_list))


print("Old list [0]", id(old_list[0]))
print("New list [0]", id(new_list[0]))


print(" ***** add new nested object old list ********")
old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

print(" ***** updating nested object old list ********")

old_list[1][1] = 'AA'
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 2071087899840
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 2071087851840
Old list [0] 2071087868800
New list [0] 2071087868800
 ***** add new nested object old list ********
Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
 ***** updating nested object old list ********
Old list: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9], [4, 4, 4]]
New list: [[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]

#### Deep Copy

In [56]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list, id(old_list))
print("New list:", new_list, id(new_list))


print("Old list [0]", id(old_list[0]))
print("New list [0]", id(new_list[0]))


print(" ***** add new nested object old list ********")
old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)


print(" ***** updating nested object old list ********")

old_list[1][1] = 'AA'
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]] 2071087858944
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]] 2071087896000
Old list [0] 2071087868736
New list [0] 2071087856128
 ***** add new nested object old list ********
Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
 ***** updating nested object old list ********
Old list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
# summary 
    ==> insertion
    ================
        append(obj)
        insert(ind,obj)
        extend([obj1,obj2...objn])
        
        
    deletion
    =======================
        pop(index=-1)
        remove(vaue) # if value is not exists , raise ValueError
        
    popular 
    ============================
    reverse()
    count()
    index()
    sort() #default is asc
    clear()
    copy()
    
    
        OBSERVATION
    =============================
    - insert() , even index is +ve/-ve invalid , we can insert the data
    - pop() default will remove last indexed element
    - we can't pop empty list
    - remove() will throw Error if element is not there
    - sort(reverse=True) : dsc order.
    - copy() method , it create new variable with different memory addr.

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [58]:
planets = ('Earth',"Venus", 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [59]:
print(planets , type(planets) , len(planets), id(planets))

('Earth', 'Venus', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') <class 'tuple'> 9 2071087882560

In [60]:
print(planets[1])

Venus

In [61]:
print(planets[-1])

Mercury

In [62]:
print(planets[-100])

IndexError: tuple index out of range

In [63]:
planets[1] = "Pluto" #error

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(dir(planets))

In [64]:
name = "priya"
name[0] = "P"
print(name)

TypeError: 'str' object does not support item assignment

### tuple methods
    - count()
    - index()

In [65]:
print(dir( () ))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [66]:
planets.count("Mars")

1

In [67]:
planets.count("Aplha")

0

In [68]:
planets

('Earth',
 'Venus',
 'Jupiter',
 'Neptune',
 'Mars',
 'Venus',
 'Saturn',
 'Uranus',
 'Mercury')

In [69]:
planets.index("Venus")

1

In [70]:
planets.index("Pluto")

ValueError: tuple.index(x): x not in tuple

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [71]:
print(type( () )) #tuple
print(type([])) #list
print(type({})) # dictionary
d = set() 
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'set'>

In [72]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

{'Eng', 'Aus', 'Sa', 'Bang', 'Ind', 'Pak'}

In [73]:
print(teams[0]) #error set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [74]:
print(dir(teams))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [75]:
print(type( [] ))
print(type( () ))
print(type( {} ))
print(type( set() ))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [76]:
print(teams)

{'Eng', 'Aus', 'Sa', 'Bang', 'Ind', 'Pak'}

In [79]:
teams.add("Zimb") #add data to the set.

In [80]:
print(teams)

{'Eng', 'Zimb', 'Aus', 'Sa', 'Bang', 'Ind', 'Pak'}

In [82]:
teams.discard("Eng") #no element no  error 
print(teams)

{'Zimb', 'Aus', 'Sa', 'Bang', 'Ind', 'Pak'}

In [86]:
teams.discard("USA")

In [84]:
teams.remove("Sa") #no element will throw key error
print(teams)

{'Zimb', 'Aus', 'Bang', 'Ind', 'Pak'}

In [85]:
teams.remove("USA") #raise Error if not a element
print(teams)

KeyError: 'USA'

In [87]:
# difference 

x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

{'amazon'}

In [88]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

{'netflix'}

In [89]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

{'apple', 'netflix', 'google', 'amazon'}
{'apple', 'netflix', 'google', 'amazon'}

In [90]:
# intersection
print(x.intersection(y)) #common elements

{'google', 'apple'}

In [91]:
print(x)

{'apple', 'google', 'amazon'}

In [95]:
print(x.pop())

KeyError: 'pop from an empty set'

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [101]:
a = {"iphone12","iphone13","iphone16"}
b = {"iphone15","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

x = {"red", "blue"}
y = {"yellow", "brown"}
print(x & y)
print(x.isdisjoint(y))

False
set()
True

In [105]:
c = {"iphone12","iphone16"}
print(c.issubset(a))


c = {"iphone12","iphone8"}
print(c.issubset(a))

True
False

In [106]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]
print(len(lst))

7

In [107]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

{10, 20, 30} 3

In [ ]:
#prebild method 
int()
float()
complex()
bool()
str()

list()
tuple()
set()
dict()

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [146]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python'],
     'cricketTeamName' : 'Bharat',
    }

print(team , type(team))

{'cricketTeamName': 'Bharat', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [109]:

print(type(10))
print(type("kumar"))
print(type([]))
print(type( () ))
print(type(set()))
print(type({}))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [110]:
team

{'cricketTeamName': 'India',
 'Captain': 'RS',
 'country': 'India',
 'year': 2022,
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [111]:
team[0]

KeyError: 0

In [114]:
team['Players']

['Virat', 'Rohit', 'Bhu', 'Python']

In [115]:
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [116]:
print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [117]:
print(team['country'])

India

In [118]:
print(team["Captain"])

RS

In [119]:
print(team["Players"])

['Virat', 'Rohit', 'Bhu', 'Python']

In [120]:
print(team['ipl_captain'])

KeyError: 'ipl_captain'

### methods

In [122]:
#get()
print(team.get('Players'))
print(team['Players'])

['Virat', 'Rohit', 'Bhu', 'Python']
['Virat', 'Rohit', 'Bhu', 'Python']

In [123]:
print(team['ipl_captain']) #fastest

KeyError: 'ipl_captain'

In [128]:
print(team.get('ipl_captain', 'not valid'))

not valid

In [ ]:
['keyname'] --> always should be valid key otherwise raise keyerror
.get('keyname') --> if key is invalid it will print None or some text

In [129]:
#keys()
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [130]:
#values()
print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [131]:
#items() --[(K1,V1),(K2,V2)....] list of tuples

print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'RS'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [132]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [133]:
team.update({'year' : 2023})
print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [134]:
team.update({"Captain":"KL Rahul"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [ ]:
print(team)

In [135]:
team.update({"iplCaptain" : 'Kohli'})
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': 2023, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'iplCaptain': 'Kohli'}

In [136]:
res = team.pop("year")
print(res)

2023

In [137]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'iplCaptain': 'Kohli'}

In [140]:
print(team.pop('iplCaptain'))

KeyError: 'score'

In [139]:
team

{'cricketTeamName': 'India',
 'Captain': 'KL Rahul',
 'country': 'India',
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [141]:
print(team.popitem()) #always remove last (k,v)

('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])

In [142]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'is_top20': True}

In [145]:
student = {
    
    ("name",) : "mahesh",
    10 : "ruby",
    False : True,
    1+2j : "complex",
    ["lst"]: ["ram", "shiva"]
}

print(student)


student.popitem()
student.popitem()
student.popitem()
print(student)
student.popitem()
student.popitem()

TypeError: unhashable type: 'list'

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalid key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry(k,v)

### Try these?
    - can we create/declare duplicate keys in dictionary?
     if yes what's behaviour.

In [ ]:
users = {
	"page": 2,
	"per_page": 6,
	"total": 12,
	"total_pages": 2,
	"data": [
		{
			"id": 7,
			"email": "michael.lawson@reqres.in",
			"first_name": "Michael",
			"last_name": "Lawson",
			"avatar": "https://reqres.in/img/faces/7-image.jpg"
		},
		{
			"id": 8,
			"email": "lindsay.ferguson@reqres.in",
			"first_name": "Lindsay",
			"last_name": "Ferguson",
			"avatar": "https://reqres.in/img/faces/8-image.jpg"
		},
		{
			"id": 9,
			"email": "tobias.funke@reqres.in",
			"first_name": "Tobias",
			"last_name": "Funke",
			"avatar": "https://reqres.in/img/faces/9-image.jpg"
		},
		{
			"id": 10,
			"email": "byron.fields@reqres.in",
			"first_name": "Byron",
			"last_name": "Fields",
			"avatar": "https://reqres.in/img/faces/10-image.jpg"
		},
		{
			"id": 11,
			"email": "george.edwards@reqres.in",
			"first_name": "George",
			"last_name": "Edwards",
			"avatar": "https://reqres.in/img/faces/11-image.jpg"
		},
		{
			"id": 12,
			"email": "rachel.howell@reqres.in",
			"first_name": "Rachel",
			"last_name": "Howell",
			"avatar": "https://reqres.in/img/faces/12-image.jpg"
		}
	],
	"support": {
		"url": "https://reqres.in/#support-heading",
		"text": "To keep ReqRes free, contributions towards server costs are appreciated!"
	}
}

In [ ]:
users.keys()

In [ ]:
users['support']['text']

In [ ]:
users['data'][3]['first_name']

In [ ]:
data = {"isbn": "123-456-222",  
 "author": 
    {
      "lastname": "Doe",
      "firstname": "Jane"
    },
"editor": 
    {
      "lastname": "Smith",
      "firstname": "Jane"
    },
  "title": "The Ultimate Database Study Guide",  
  "category": ["Non-Fiction", "Technology"]
 }

In [ ]:
data.keys()

In [ ]:
data['author']['lastname']

In [ ]:
data['category'][-1]

In [ ]:
spacex = {
  "fairings": None,
  "links": {
    "patch": {
      "small": "https://images2.imgbox.com/eb/0f/Vev7xkUX_o.png",
      "large": "https://images2.imgbox.com/ab/79/Wyc9K7fv_o.png"
    },
    "reddit": {
      "campaign": "https://www.reddit.com/r/spacex/comments/fjf6rr/dm2_launch_campaign_thread/",
      "launch": "https://www.reddit.com/r/spacex/comments/glwz6n/rspacex_cctcap_demonstration_mission_2_general",
      "media": "https://www.reddit.com/r/spacex/comments/gp1gf5/rspacex_dm2_media_thread_photographer_contest/",
      "recovery": "https://www.reddit.com/r/spacex/comments/gu5gkd/cctcap_demonstration_mission_2_stage_1_recovery/"
    },
    "flickr": {
      "small": [],
      "original": [
        "https://live.staticflickr.com/65535/49927519643_b43c6d4c44_o.jpg",
        "https://live.staticflickr.com/65535/49927519588_8a39a3994f_o.jpg",
        "https://live.staticflickr.com/65535/49928343022_6fb33cbd9c_o.jpg",
        "https://live.staticflickr.com/65535/49934168858_cacb00d790_o.jpg",
        "https://live.staticflickr.com/65535/49934682271_fd6a31becc_o.jpg",
        "https://live.staticflickr.com/65535/49956109906_f88d815772_o.jpg",
        "https://live.staticflickr.com/65535/49956109706_cffa847208_o.jpg",
        "https://live.staticflickr.com/65535/49956109671_859b323ede_o.jpg",
        "https://live.staticflickr.com/65535/49955609618_4cca01d581_o.jpg",
        "https://live.staticflickr.com/65535/49956396622_975c116b71_o.jpg",
        "https://live.staticflickr.com/65535/49955609378_9b77e5c771_o.jpg",
        "https://live.staticflickr.com/65535/49956396262_ef41c1d9b0_o.jpg"
      ]
    },
    "presskit": "https://www.nasa.gov/sites/default/files/atoms/files/commercialcrew_press_kit.pdf",
    "webcast": "https://youtu.be/xY96v0OIcK4",
    "youtube_id": "xY96v0OIcK4",
    "article": "https://spaceflightnow.com/2020/05/30/nasa-astronauts-launch-from-us-soil-for-first-time-in-nine-years/",
    "wikipedia": "https://en.wikipedia.org/wiki/Crew_Dragon_Demo-2"
  },
  "static_fire_date_utc": "2020-05-22T17:39:00.000Z",
  "static_fire_date_unix": 1590169140,
  "tdb": False,
  "net": False,
  "window": 0,
  "rocket": "5e9d0d95eda69973a809d1ec",
  "success": True,
  "failures": [],
  "details": "SpaceX will launch the second demonstration mission of its Crew Dragon vehicle as part of NASA's Commercial Crew Transportation Capability Program (CCtCap), carrying two NASA astronauts to the International Space Station. Barring unexpected developments, this mission will be the first crewed flight to launch from the United States since the end of the Space Shuttle program in 2011. DM-2 demonstrates the Falcon 9 and Crew Dragon's ability to safely transport crew to the space station and back to Earth and it is the last major milestone for certification of Crew Dragon. Initially the mission duration was planned to be no longer than two weeks, however NASA has been considering an extension to as much as six weeks or three months. The astronauts have been undergoing additional training for the possible longer mission.",
  "crew": [
    "5ebf1b7323a9a60006e03a7b",
    "5ebf1a6e23a9a60006e03a7a"
  ],
  "ships": [
    "5ea6ed30080df4000697c913",
    "5ea6ed2f080df4000697c90b",
    "5ea6ed2f080df4000697c90c",
    "5ea6ed2e080df4000697c909",
    "5ea6ed2f080df4000697c90d"
  ],
  "capsules": [
    "5e9e2c5df359188aba3b2676"
  ],
  "payloads": [
    "5eb0e4d1b6c3bb0006eeb257"
  ],
  "launchpad": "5e9e4502f509094188566f88",
  "auto_update": True,
  "flight_number": 94,
  "name": "CCtCap Demo Mission 2",
  "date_utc": "2020-05-30T19:22:00.000Z",
  "date_unix": 1590866520,
  "date_local": "2020-05-30T15:22:00-04:00",
  "date_precision": "hour",
  "upcoming": False,
  "cores": [
    {
      "core": "5e9e28a7f3591817f23b2663",
      "flight": 1,
      "gridfins": True,
      "legs": True,
      "reused": False,
      "landing_attempt": True,
      "landing_success": True,
      "landing_type": "ASDS",
      "landpad": "5e9e3032383ecb6bb234e7ca"
    }
  ],
  "id": "5eb87d46ffd86e000604b388"
}

In [ ]:
spacex.keys()

In [ ]:
spacex['links']['flickr']['original'][3]

In [ ]:
print(spacex['links']['reddit']['recovery'])

### Quick summary

#### list 

    - append()
    - insert()
    - extend()
    - pop()
    - remove()
    - clear()
    - copy()
    - index()
    - count()
    - reverse()
    - sort()
    


#### tuple 
    - count()
    - index()



#### set
    - add()
    - discard()
    - remove()
    - union()
    - difference()
    - intersection()
    - isdisjoint()
    - issubset() issuperset()
    - update()



#### dictionary
    - keys()
    - values()
    - get()
    - update()
    - items()
    - pop()
    - popitem()

### doubts

In [ ]:
set
colors = {'red' , 'yellow' , 'blue'}

student = {
        'name' : 'Kumar',
        'fee' : 12000
}

In [ ]:
# primitive : int float complex boolean str
# sequence/collection : list set dictionary tuple 


a = 10
b = 10

print(a is b) # address comparision
print(a,b , id(a) , id(b))

In [ ]:
c = (10,20)
d = (10,20)

print(id(c) , id(d))
print( c is d) # addrress 

print(c == d) # content comparision

In [ ]:
num1 = int(input("Enter number:"))

num1 = str(num1)

if num1.count("0") > 0:
    print(num1.count("0"))
else:
    print(-1)

In [ ]:
nums = "1020920927038038"
count = 0 

for n in nums:
    if n == '0'

In [ ]:
companyName = ['Reliance', 'IBM', 'RBC', 'BMO']
numberOfEmployes = ('1000','2500','250','3600')
volume = {'120k', '250k', '365k', '1200k'}
data = {
'Day' :'mon-Fri',
'Time' : '9-5'
}
print(Company_Name)
print(NumberOf_Employee)
print(Volume)
print(Data)

In [ ]:
# List:
studentAges=[40,23,45,33]
print(StudentsAges)

# Tuple:
studentAges=(40,23,45,33)
print(StudentsAges)


#set 
fruits={"Apple","Mango"}

print(Fruits)
        
# Dictionary:
    
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}

print(FruitsTaste)

In [ ]:
fruitsTaste={"Apple":"Sweet","Watermelon":"Sweet"}


dup = fruitsTaste.copy()

print(dup)