### Operators 
    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/assignment-operator-in-python.png" height="600" width="600">

In [1]:
price = 12

# increase 2rs 
price = price + 2

print(price)

# decrease 5 rs
price = price - 5 


print(price)

14
9

In [3]:
price = 12

# increase 2rs 
price += 2 #price = price+2
print(price)
# decrease 5 
price -= 5  #price = price - 5
print(price)

14
9

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/arithmetic-operation-in-python.png" height="700" width="700">

In [4]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 8 it means 2 * 2 * 2

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

### TASK 

How negative % modulus?

How negtaive // integer division.?

is working?

In [5]:
print(10%3) # 10 = 3*3+1
print(5%2) # 5 = 2*2+1

1
1

In [6]:
print(-10%3)
print(-5%2)

2
1

In [7]:
print(10//3)
print(5//2)

3
2

In [8]:
print(-10//3)
print(-5//2)

-4
-3

In [ ]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

In [ ]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

In [9]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [10]:
print(0/10)  #0/anything --> 0

print(20/0) #anything/0 ---> undefined

0.0

ZeroDivisionError: division by zero

In [11]:
print(10%3)

print(25%2)

print(4%4)

print(50%100)

print(10%0)

1
1
0
50

ZeroDivisionError: integer division or modulo by zero

In [ ]:
# NOTE : 
1. Numerator<Demo ---> Answer is Numerator
2. Numerator == Demo --> 0
3. Numerator> Demo (get remainder doing division method)
4. Demo == 0 or 0.0 --> Raise Zero Division Error

In [13]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = (mass / volume) # 1000 Kg/m^3

print(density)

Area of a circle: 314.0
Area of rectangle: 200
735.75 N
1000.0

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        - can be applied on integers , floats , strings
        
 <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png" width="700" height="700">

In [ ]:
print(10 != 1)

#  same ! = same --> False 
#  same ! = different --> True

In [14]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True
True
False
True
True
False
True
False
True
True
False
True
True
False
True == True:  True
True == False:  False
False == False: True

In [ ]:
1. = is used for assignment 
ex: varName = value 

2. == is used for comparision 
ex: 10 ==12

In [15]:
print(10.2 > 6.5)

True

In [ ]:
print('a' > 'A')

In [16]:
print(ord('a') , ord('A'))

97 65

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShip Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x not in y)

In [17]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\akraj\AppData\Local\Temp\ipykernel_15716\2487550039.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\akraj\AppData\Local\Temp\ipykernel_15716\2487550039.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\akraj\AppData\Local\Temp\ipykernel_15716\2487550039.py:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [18]:
print("Kumar" in "KUmar rajamoni")

False

In [21]:
print(10 in [10,20,304,20])
print(100 not in [10,20,304,20,100])

True
False

In [23]:
print("age" in {"name":"John","age":30})
# in operator on dictionary will search only keys

True

In [25]:
a = 10
b = 10 

print(id(a),id(b))
print(a is b)

b+=2  # b = b+2

print(id(a) , id(b))
print(a is b)

2273881948688 2273881948688
True
2273881948688 2273881948752
False

In [26]:
a = 10.4

print(type(a) is float)
print(type('hello') is str)

True
True

### Try these

```code 

lst = [1,10,20,30]
dupLst = lst 

```
- will ID's will be same of different?
- id(lst[0]) and id(dupLst[0]) 
- updation with one variable , will it change other variable content?


```code

lstA = [10,20,30]
lstB = [10,20,30]

what's id(lstA) and id(lstB)

```

In [ ]:
# a = 10
# b = 10

# print(id(a) , id(b))

lstA = [10,20,30]
lstB = [10,20,30]

print(id(lstA) , id(lstB))

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://1.bp.blogspot.com/-k27I3cNB6zE/XYTAZv3C07I/AAAAAAAAAy0/KobVTHHhCJUVpg7D19HhI4ddrh0IU5GKgCLcBGAsYHQ/s1600/LogicalOperators.png" height="600" width="600" >

In [29]:
print(type("Kumar"))


print(type(["Kumar","Rajamoni"]))


print('kumar' == ['kumar'])

<class 'str'>
<class 'list'>
False

In [28]:
name = "fury"
passwd = 1234

print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

True
True
False

In [30]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

In [31]:
username = input("Enter the username: ")
passwd = input("Enter the passsword: ")


if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")
else:
    print("Invalid Creds")

Enter the username: kumar
Enter the passsword: kumar321
Invalid passwd
Invalid Creds

In [33]:
age = int(input('enter age: '))

if(age>=18):
    print('eligible to vote')
else:
    print('not eligible to vote')
    print('else block')
    print('condition false')

    

# {} ---> block of code or scope 
# : ---> block of code or scope
# conditional statement
# looping statements
# function statements
# classes

enter age: 15
not eligible to vote
else block
condition false

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [34]:
print(bin(25))

0b11001

In [ ]:
#representing
# 8 bit (0-255)

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 | 2  |1    min =0 max = 255

In [35]:
# bin() -- gives binary notation value of decimal no.
print(bin(69))
print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

0b1000101
0b10100
0b100101
0b111001
0b11011110

In [36]:
print(bin(3) , bin(4))

0b11 0b100

In [37]:
a = 3
b = 4

# 3 -    0  1  1
# 4 -    1  0  0
# -----------------
#        0  0  0

## AND 000

## OR 111

##EXOR 111

## NOT 100

print(a & b)

print(a | b)

print(a ^ b)
print(~a)

#sign bit 

#0 -ve
#1 +ve

0
7
7
-4

In [ ]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100


# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

In [ ]:
0 + 0 --> 0 
0 + 1 --> 1
1 + 0 --> 1
1 + 1 --> 2 ( 10 )

1+1+1  --> 3 (11)

In [ ]:
a = 9 
print(~a)

# -(binary of num + 1)
# -(1001 + 1)
#  -(1010)

In [ ]:
a = 14
b = 6

print(a & b)
print( a | b)
print( a ^ b)

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>2)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [ ]:
a = 25
print(a >> 3)

In [ ]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits



a = 10
print(a<<1)

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, weâ€™ll see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [38]:
print(10+20*30/10)

70.0

In [ ]:
a = (10+20) * 30/10

print(a)

In [ ]:
a =  2+3*8/2-10**4%2//10

print(a)

In [19]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Hello! Welcome.

In [20]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Good Bye!!

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [21]:
print(200 / 10 * 10)

200.0

In [22]:
print(5 - 2 + 3)

6

In [23]:
#right to left
print(2 ** 3 ** 2)

512

### Students Doubts/Queries

In [ ]:
a = 10
b = 10
print(a is b)
del a 
print(b)

In [ ]:
a=10
c = a

# print(a is c)
del a

print(c)
print(a)

In [ ]:
lst = [10,20]

lst2 = lst
print(lst)

del lst
print(lst2)
print(lst)

In [ ]:
a = 10+2j

b = str(a)

print(b,type(b))
print(b[0])

In [ ]:
name = "Kumar"

print(name)

In [ ]:
print(str(a),type(a))

In [ ]:
a = str(a)

print(a,type(a))

In [24]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [26]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

{'Vicki', 'Jodi', 'Eric', 'Garry'}

In [28]:
print(type(range(5)))

<class 'range'>

In [30]:
print(type({}) is set)

False

In [32]:
aTuple = (1, 'Jhon', 1+3j)
print(aTuple[2:3])

((1+3j),)

In [36]:
a = 10,

print(type(a))

<class 'tuple'>

In [38]:
def func1():
    x = 50
    return x
func1()

print(x)

NameError: name 'x' is not defined

In [2]:
# primitive type 
a = 10
b = 10
print(id(a), id(b))

a = a+2
print(id(a), id(b))

1702764413456 1702764413456
1702764413520 1702764413456

In [3]:
s = "Bhanu"
s1 = "Bhanu"

print(id(s), id(s1))

1702845208240 1702845208240

In [5]:
numbers = [10,20,30]
dupNumbers = [10,20,30]


print(id(numbers), id(dupNumbers))

print(id(numbers[0]), id(dupNumbers[0]))

1702845897536 1702845974592
1702764413456 1702764413456

In [7]:
lst = [1,10,20,30]

dupLst = lst # alias copy

print(lst,dupLst)
print(id(lst), id(dupLst))
print(id(lst[0]), id(dupLst[0]))

[1, 10, 20, 30] [1, 10, 20, 30]
1702845974848 1702845974848
1702764413168 1702764413168

In [9]:
multi_numbers = (input("Enter a list of numbers: \n"))

print(f"{multi_numbers}")

print(type(multi_numbers))

Enter a list of numbers:
10,20,30,40
10,20,30,40
<class 'str'>

In [15]:
numbers = input("enter numbers").split()

for i in range(len(numbers)):
    numbers[i] = float(numbers[i])
    
print(numbers)

enter numbers10 20 430 40 20
[10.0, 20.0, 430.0, 40.0, 20.0]

In [18]:
numbers = list(map(int,input("enter numbers").split(',')))
print(numbers)

enter numbers10,20,30,20
['10', '20', '30', '20']