## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://s4scoding.com/images/python-built-in-functions.jpg" width= "700" height="800">

In [1]:
lst = {10,203,20} 

print(dir(lst)) # it wil display all the methods of a data type 
print(type(lst)) # display data type name

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
<class 'set'>

In [2]:
print(sum(lst))
print(max(lst))
print(min(lst))

233
203
10

In [3]:
print(help(lst))

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

In [4]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

<class 'str'>
<class 'int'>
<class 'dict'>
2043472385840 2043392688656 2043476877312

In [5]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>

### Try these?


what's output?

```python

a = 10,20,304,40
print(type(a))


```

In [10]:
a = 10,
print(type(a))
print(a)

<class 'tuple'>
(10,)

In [8]:
#dir()
print(dir([]))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [11]:
#  sum()

marks = [10,20,30]
print(sum(marks))

60

In [12]:
#max() min()

print(max(marks))

print(min(marks))

30
10

In [13]:
print(marks)
print(person)

[10, 20, 30]
{'name': 'Ram', 'course': 'Python', 'collge': 'ABC'}

In [14]:
#len() --> list tuple str set dict
#  cannot apply on --> int float complex None boolean

print(len(marks))

print(len("Kumar      R"))


print(len(person))

print(len(10)) #error.

3
12
3

TypeError: object of type 'int' has no len()

In [15]:
print(a)

(10,)

In [16]:
print(ord("H"),ord("i"))

72 105

In [19]:
print(chr(72) , chr(105))

H i

In [ ]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

In [ ]:
# datatype prebuild method
int - int()
float - float()
str - str()
bool - bool()
complex - complex()

list - list()
tuple - tuple()
set - set()
dictionary - dict()

In [26]:
var = set()
print(type(var))

<class 'set'>

In [27]:
lst = [10,20,30,10,20,11,33,44,33]
print(set(lst))

{33, 10, 11, 44, 20, 30}

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.
    
```python

range(start,stop,step)

```

In [28]:
a = range(1,10,1)
print(a , type(a))

range(1, 10) <class 'range'>

In [30]:
print(list(a)) # range to list
print(tuple(a)) # range to tuple

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [32]:
print(list(range(0,20,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
print(list(range(1,20,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
a = tuple(range(0,5,1))

print(a)

(0, 1, 2, 3, 4)

In [35]:
a = list(range(1,10,2))

print(a)

[1, 3, 5, 7, 9]

In [36]:
a = list(range(-1,-5,-1))

print(a)

[-1, -2, -3, -4]

In [39]:

a = list(range(5,3)) #range(0,5,1)


print(a)

[]

In [40]:
a = list(range(1,2))

print(a)

[1]

In [41]:
list(range())

TypeError: range expected at least 1 argument, got 0

In [42]:
list(range(1,1)) # range(1,0,1)

[]

In [43]:
list(range(-1,5,1))

[-1, 0, 1, 2, 3, 4]

### Try these
- list(range(-1,-5,1))
- list(range(3,20,0))
- list(range('a','z',0))

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [44]:
a = input()#reads a string type
b = input()
print(a+b) #string concat or merging

10
20
1020

In [45]:
print("10"+"20")

1020

In [46]:
a = float(input()) #str - float
b = int(input()) # str - int
print(a+b)

10.2
10
20.2

In [47]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10' 
print('num_int', int('10'))      # 10
print('num_float', float(num_str))  # 10.0

# str to list
first_name = 'Kumar'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

num_int 10
num_float: 10.0
9
10
10
num_int 10
num_float 10.0
Kumar
['K', 'u', 'm', 'a', 'r']

In [48]:
firstname = "kumar rajamoni".split()

print(firstname)

['kumar', 'rajamoni']

In [49]:
name = "Kumar Python Tutor"

print(name.split())

['Kumar', 'Python', 'Tutor']

In [50]:
a = "A B C".split() # str -- list 

print(a)

['A', 'B', 'C']

In [51]:
# str - int
stra = "10"
print(int(stra))

10

In [ ]:
stra = "10a"
print(int(stra))

In [ ]:
strb = "289892.282"

print(float(strb))

In [ ]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

In [ ]:
num = 10
print(float(num)) #10.0

num1 = "10.5"

print(float(num1))
print(int(float(num1)))

letters= ["a","b",'c','a','e','b']
print(letters)
print(set(letters))

In [ ]:
# int - float 
    float()
    
# float - int 
    int()
    
# str - int (str must be in valid decimal 0-9 format)
    int()
    
#str - float (str must be in valid float format)
    float()

In [ ]:
print(float("10.6k"))

In [ ]:
# list - tuple
    tuple()
    
# list - set 
    set()

In [ ]:
names = ["kumar","prakash","manoj"]


# not possible

# list -- dict
# tuple -- dict
# set - dict
print(dict(names))

#### Try these  small task 
1. read 10 digit integer num from keyboard
    hint: int(input()) 
2. count number of zeros
3. if you don't find zero's print -1

ex: 10205678905


    op: 3 
    
    
    1234568791
    op: -1

In [ ]:


# reading the input
number = int(input('any 10digit  number : '))
print(number)

# convertion int - str
number = str(number)

print(number.count('0'))
# appling the method
if number.count('0') > 0:
    print("number of zeros : ",number.count('0'))
    
print(-1)

In [ ]:
sentence= input("enter sentence ")
print(len(sentence))
print(sentence.count(" "))
print(sentence.split(), len(sentence.split()))

In [ ]:
print(len(sentence.replace(" ","")))

In [ ]:
#Palindromes