## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://s4scoding.com/images/python-built-in-functions.jpg" width= "700" height="800">

In [ ]:
st = {10,203,20} 

print(dir( set )) # it wil display all the methods of a data type 
print(type(st)) # display data type name

In [ ]:
print(sum(st))
print(max(st))
print(min(st))

In [ ]:
print(help( [] ))

In [ ]:
##type()  id()

name = "Kumar"
print(type(name))

age = 10
print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}
print(type(person))

print(id(name) , id(age) , id(person))

In [ ]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

### Try these?


what's output?

```python

a = 10,20,304,40
print(type(a))


```

In [ ]:
a = 10,
print(type(a))
print(a)

In [ ]:
#dir()
print(dir([]))

In [ ]:
print(dir(""))

In [ ]:
#  sum()
marks = [10,20,30]
print(sum(marks))

In [ ]:
#max() min()

print(max(marks))

print(min(marks))

In [ ]:
print(marks)
print(person)

In [ ]:
#len() --> list tuple str set dict
#  cannot apply on --> int float complex None boolean

print(len(marks))

print(len("Kumar      R"))


print(len(person))

print(len(10)) #error.

In [ ]:
print(ord("H"),ord("i"))
print(ord('A'), ord('Z'))
print(ord('a'), ord('z'))

In [ ]:
print(chr(72) , chr(105))
print(chr(45))

In [ ]:
# filter only upper case letters
strdata = "Azure AI is build using GPT 3.5 engine";
for ch in strdata:
    if ord(ch)>=65 and ord(ch)<=90:
        print(ch)

In [ ]:
strdata = "Azure AI is build using GPT 3.5 engine";
for ch in strdata:
    if ch >= 'A' and ch<='Z':
        print(ch)

In [ ]:
strdata = "Azure AI is build using GPT 3.5 engine";
for ch in strdata:
    if ch.isupper():
        print(ch)

In [ ]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

In [ ]:
# datatype prebuild method
int - int()
float - float()
str - str()
bool - bool()
complex - complex()

list - list()
tuple - tuple()
set - set()
dictionary - dict()

In [ ]:
var = set()
print(type(var))

In [ ]:
lst = [10,20,30,10,20,11,33,44,33]
print(set(lst))

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.
    
```python

range(start,stop,step)

```

In [1]:
a = range(1,10,1)
print(a , type(a))

range(1, 10) <class 'range'>

In [2]:
print(list(a)) # range to list
print(tuple(a)) # range to tuple

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [4]:
print(list(range(0,20,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
print(list(range(1,20,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
a = tuple(range(0,5,1))
print(a)

(0, 1, 2, 3, 4)

In [7]:
a = list(range(1,10,2))
print(a)

[1, 3, 5, 7, 9]

In [8]:
a = list(range(-1,-5,-1))
print(a)

[-1, -2, -3, -4]

In [9]:
a = list(range(5,3)) #range(0,5,1)
print(a)

# start < stop

[]

In [11]:
a = list(range(1,1))
print(a)

[]

In [13]:
list(range())

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
list(range(1,1)) # range(1,0,1)

[]

In [16]:
list(range(-1,5,-1))

[]

### Try these
- list(range(-1,-5,1))
- list(range(3,20,0))
- list(range('a','z',0))

In [ ]:
# RANGE OBSERVATIONS
- range(stop) , mandatory 
- it will take all integers param(start,stop,step)
- it will generate empty when params are invalid 
- step should be always not zero

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string. 
    
    
 ```
 # int - float 
    float()
    
# float - int 
    int()
    
# str - int (str must be in valid decimal 0-9 format)
    int()
    
#str - float (str must be in valid float format)
    float()
 
 ```

In [23]:
a = input()#reads a string type
b = input()
print(a+b) #string concat or merging

10
20
1020

In [25]:
print("10"+"20")
print(10 + 20)

1020
30

In [ ]:
a = float(input()) #str - float
b = int(input()) # str - int
print(a+b)

In [35]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10' 
print('num_int', int('10'))      # 10
print('num_float', float(num_str))  # 10.0
# print('str - int', int('10a'))
# print('str - float', float('10.27d'))

# str to list
first_name = 'Kumar'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']


# str - list using split() 
names = "ram,kuma,shiva,manoj"
print(names,type(names))

names_lst = names.split(',') # str - list
print(names_lst, type(names_lst))

# list - str using join() 
teams = ["IND", "AUS", "ENG", "BNZ", "PAK"]
print("->".join(teams))

num_int 10
num_float: 10.0
9
10
10
num_int 10
num_float 10.0
Kumar
['K', 'u', 'm', 'a', 'r']
ram,kuma,shiva,manoj <class 'str'>
['ram', 'kuma', 'shiva', 'manoj'] <class 'list'>
IND->AUS->ENG->BNZ->PAK

In [ ]:
num = 10
print(float(num)) #10.0

num1 = "10.5"
print(float(num1))
print(int(float(num1)))

letters= ["a","b",'c','a','e','b']
print(letters)
print(set(letters))

#### Try these  small task 
1. read 10 digit integer num from keyboard
    hint: int(input()) 
2. count number of zeros
3. if you don't find zero's print -1

ex: 10205678905


    op: 3 
    
    
    1234568791
    op: -1

In [ ]:


# reading the input
number = int(input('any 10digit  number : '))
print(number)

# convertion int - str
number = str(number)

print(number.count('0'))
# appling the method
if number.count('0') > 0:
    print("number of zeros : ",number.count('0'))
    
print(-1)

In [ ]:
sentence= input("enter sentence ")
print(len(sentence))
print(sentence.count(" "))
print(sentence.split(), len(sentence.split()))

In [ ]:
print(len(sentence.replace(" ","")))

In [ ]:
#Palindromes