### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes / args
    - value 
    - sep =  ' ' : used when more than one value is printing
    - end = '\n' : used when we want to print new line
    - file = sys.stdout : monitor/screen/console 
    - flush = Flase

In [ ]:
print("hello world") #strings --> group of character(letter(a-zA-Z,symbol,numbers(0-9))

In [ ]:
print(10) #integers
print(102.22) #floating
print(True,False)#boolean
print(None) #None
print(10+2j) #Complex

In [6]:
print('''my name is kumar
      my role is sdeII''')

my name is kumar
      my role is sdeII

In [8]:
print('''hello everyone 
      we discussing python print method''')

hello everyone
      we discussing python print method

In [7]:
print("""Hello Everyone we are discussing 
        python variables and comments 
        concepts
        """) #multi line string

Hello Everyone we are discussing
        python variables and comments
        concepts

In [ ]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print(None) # None 

##################################################

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [9]:
studentNames = ['shivani' , 'mahesh' , 'lasya' , 'venkat']
print(studentNames)

studentMarks = [10,20,30,40]
print(studentMarks)

['shivani', 'mahesh', 'lasya', 'venkat']
[10, 20, 30, 40]

### try these 
- read two nums from keybroad
- do following operations 
    - add 
    - sub
    - mult
    - div

In [12]:
num1 = 10 #static input
num2 = int(input())  #dynamic input

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

8
18
2
80
1.25

In [13]:
num = 10
print(type(num))

num = 10.2
print(type(num))

num = 1+2j
print(type(num))

num = "hello"
print(type(num))

num = None 
print(type(num))

num = True 
print(type(num))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [14]:
#var_name = value 

name = "Kumar" #str
role = "SDE"   #str
age = 45       #int
salary = 9873739.33
isDeveloper = False

print(name) 
print(role)
print(age)
print(salary)
print(isDeveloper)

print(type(name))
print(type(role))
print(type(age))
print(type(salary))
print(type(isDeveloper))

Kumar
SDE
45
9873739.33
False
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [15]:
print(name)
print(role)
print(age)

Kumar
SDE
45

In [19]:
print(name,age,role,salary,isDeveloper, sep = "-> -> ")

Kumar-> -> 45-> -> SDE-> -> 9873739.33-> -> False

In [20]:
print(name,age,role,sep = '->')

Kumar->45->SDE

In [21]:
print(name,age,role,sep=" # ")

Kumar # 45 # SDE

In [22]:
print(name,age,role,sep="\n")

Kumar
45
SDE

In [23]:
print(age,name,salary,sep='')

45Kumar9873739.33

In [26]:
print(name)
print() #here end = "\n" : new line
print()
print(age)

Kumar			45

In [30]:
#file=sys.stdout -->  screen /monitor

print("Hey Hi Every One welcome to python session..",file= open("Sep.txt",mode="a"))  #append mode)

### Try these?

what is the value for the below code ?
  ```python

    res = print("hello")
    print(res)
    
    print(print("hello"))
```

In [35]:
re = print("hello world") #fun calling in a variable 
print(re)


print(print("hello")) #inner fun return None , outer function printing same value

hello world
None
hello
None

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [36]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''
     this is a function which 
     return addition
    '''
    print(a+b)
    
fun(10,20)

30

In [ ]:
#Take new inputs from keyboard
'''
we are learning python 
comments 
single comments 
multiline comments
'''

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

syntax:
    
    variableName = value 
    
    value = strings : "kumar"
    value = integers : 0-9
    value = float  : 0.0 - 9.9 
    value : boolean : True or False
    value : complex : 1+2j

### JAVA
- Java is Strongly typed language 
- Java is static language 
- we have to manually declare datatypes for variables.
- for every DATATYPES , there will be FIXED RANGE & SIZE
```java
    datatypes variableName = value;
```

### PYTHON
- Python is weekly typed language
- Python is Dynamic
- We don't have to manually declare datatypes for variables
- No SIZE restrictions on datatypes
```python
    variableName = value
```

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
#invalid variable-name

# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [37]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [38]:
print(len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']))

35

In [41]:
name = "10"
print(name)
print( type(name) )

10
<class 'str'>

In [44]:
True_ = "Kumar" #Keyword 
print(True_)

Kumar

In [45]:
_if ="kumar"
print(_if)

kumar

In [46]:
_ = "kumar"
__ = 10

print(_)
print(__)

kumar
10

In [ ]:
firstName = "Kumar A"
lastName = "Rajamoni"
collegeName = "OU"
city = 'HYD'
country_name = "India"

print(firstName , lastName , collegeName , country_name)

In [ ]:
number_of_students = 10 #snake_case #variables

numberOfStudents = 10 #camelCase # methods

NumbersOfStudents = 10 #PascalCase #classes

### Styling cases
- 3 popular case styles in programming.
   -  Camel case
   -  Snake case
   -  Pascal case
    
    
##### Camel Case

> Camel case is one of the most commonly used naming conventions in coding. In the camel case, compound words start with a capital letter.
- Notice that in the camel case, the first letter of the very first word starts with a lowercase letter.
- Many programming languages **use camel case to declare variables.**
- We can also use for naming function or methods in python
```python        
myAccountBalance = 100
distanceToMoon = 3.844e8
```


##### 2. Pascal Case
- In the Pascal case, all compound words start with a capital letter.
- The most common use case for the pascal case is for naming classes.
```python
class MainViewController: UIViewController { ... }
```

##### 3. Snake Case (snake_case)
- Snake case is a case style where each compound word is separated by an underscore. 
- This greatly improves the readability of values with long multi-word names.
- declaring variables  and constant values

```python
my_age = 26
date_today = "2022-09-15"

{
    first_seen: "2021-07-02",
    last_modified: "2022-09-15"
}


DISTANCE_TO_MOON = 3.884e8
```

In [48]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }




# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kumar
First name length: 5
Last name:  Rajamoni
Last name length:  8
Country:  India
City:  Noida
Age:  25
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python', 'JAVA']
Person information:  {'firstname': 'Kumar', 'lastname': 'Rajamoni', 'country': 'India', 'city': 'Hyd'}

In [53]:
print("my name is", first_name)
print(f"my name is {first_name} {last_name}")

my name is Kumar
my name is Kumar Rajamoni

In [57]:
num = set()
print(num)
print(type(num))

set()
<class 'set'>

In [58]:
a = 10
b = 10.2
c = "python"
d = 1+7j 

print(a , type(a))
print(b, type(b))
print(c , type(c))
print(d, type(d))

10 <class 'int'>
10.2 <class 'float'>
python <class 'str'>
(1+7j) <class 'complex'>

In [59]:
print(first_name, type(first_name) , id(first_name))

Kumar <class 'str'> 2281825070320

In [60]:
print(type(first_name))

print(type(age))

print(type(skills))

<class 'str'>
<class 'int'>
<class 'list'>

In [61]:
age = 35
print(age , type(age))

35 <class 'int'>

In [62]:
age = 67.6
print(age , type(age))

67.6 <class 'float'>

In [63]:
age = (10,20)
print(age , type(age))

(10, 20) <class 'tuple'>

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [64]:
age = 10 #static declaration
print(age)

10

In [ ]:
read data from keyword/user ---> input() -----> program (process) ------> print() ---> window/screen/console.

In [65]:
# dynamic declaration.
age = input('Enter age ? ') #read data(int,float,bool,complex) in str format only
print(age , type(age))

Enter age ? 20
20 <class 'str'>

In [ ]:
'10'
"10.2"
"True"
"10+2j"
"Kumar"
"[10,20]"
"(10,20)"
"{10,20}"

In [66]:
salary = input('Enter a salary: ')
print(salary , type(salary))

Enter a salary: 1082092.392926
1082092.392926 <class 'str'>

In [67]:
print(type(45.5))
print(type("45.5"))

<class 'float'>
<class 'str'>

In [68]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

print(num1 + num2)

Enter num1: 10
Enter num2: 20
1020

In [72]:
print(10+20)
print("10" + "20")

30
1020

In [70]:
print('6' + '7')
print("10"+"20")
print("Hi"+"Java")

67
1020
HiJava

In [73]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

# explicit conversation
num1 = int(num1) # convert str to int # int("10")--> 10
num2 = int(num2)

print(num1 + num2)

Enter num1: 10
Enter num2: 20
30

In [74]:
n1 = int(input('Enter n1: ')) 
n2 = int(input('Enter n2: '))
n3 = int(input('Enter n3: '))

print(n1 + n2 + n3)

Enter n1: 10
Enter n2: 20
Enter n3: 30
60

In [75]:
print(int("11879797"))

11879797

In [78]:
print(int("672"))

# we can convert only string in valid integer format

672

In [80]:
print(int("5a"))

ValueError: invalid literal for int() with base 10: '5a'

In [81]:
salary = float(input("Enter the salary"))
print(salary , type(salary))

Enter the salary1082783.372
1082783.372 <class 'float'>

In [84]:
print(float('27.7378'))

27.7378

In [ ]:
# print(float('27.7sj'))

In [ ]:
first_name = input('What is your name: ')
age = int(input('How old are you? '))

print(first_name)
print(age)

In [ ]:
studentId = int(input('Enter id: '))
studentName = input('Enter Name: ')
is_enrolled = bool(input('Enter True or False: '))
courseFee = float(input('Enter course fee: '))
duration = int(input('Enter duration: '))

In [ ]:
print(studentId, type(studentId) , id(studentId))
print(studentName, type(studentName) , id(studentName))

## Try these 

- Declare 5 realtime variables and take input from keyboard
- print(value , type , memoryID.) for every variable.

### Assignment Answers

In [ ]:
name = input("enter the name")
address = input("enter address: ")
university_course_duration = int(input("enter course duration: "))
course_fee = float(input("enter the course_fee"))
is_student = bool(input("Are you a student?True/False"))

print (name , type (name) ,id(name))
print(address , type(address) ,id(address))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))
print (course_fee, type(course_fee), id(course_fee))
print(is_student , type(is_student) , id(is_student))

In [ ]:
fifa_winner = input("Enter the winner name")
print(fifa_winner , type(fifa_winner) , id(fifa_winner))
messi_score = int(input("enter messi score: "))

print(messi_score , type(messi_score) , id(messi_score) )

In [3]:
print("Welcome to the tip calculator")

bill = float(input("What was the total bill? "))
tip = int(input("What percentage of tip would you like to give? 10, 12, or 15? "))
people = int(input("How many people to split the bill "))

totalAmountWithTip = tip / 100 * bill + bill
people_div = totalAmountWithTip // people
print(f"Each person should pay: ${people_div}")

Welcome to the tip calculator
What was the total bill? 2000
What percentage of tip would you like to give? 10, 12, or 15? 2
How many people to split the bill 2
Each person should pay: $1020.0