### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes / args
    - value 
    - sep =  '  ' : used when more than one value is printing
    - end = '\n' : used when we want to print new line
    - file = sys.stdout : monitor/screen/console 
    - flush = Flase

In [3]:
print("Hello World, Welcome to Py") #strings --> group of character(letter(a-zA-Z,symbol,numbers(0-9))

Hello World, Welcome to Py

In [4]:
print(10) #integers
print(102.22) #floating
print(True,False)#boolean
print(None) #None
print(10+2j) #Complex

10
102.22
True False
None
(10+2j)

In [6]:
print('''my name is kumar
      my role is sdeII''')

my name is kumar
      my role is sdeII

In [7]:
print('''hello everyone 
      we discussing python print method''')

hello everyone
      we discussing python print method

In [ ]:
print("""Hello Everyone we are discussing 
        python variables and comments 
        concepts
        """) #multi line string

In [ ]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print(None) # None 

##################################################

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

### Try these 
- Read two nums from keybroad
- Do following operations 
    - add 
    - sub
    - mult
    - div

In [12]:
a = int(input("enter a : "))
b = int(input("enter b: "))

print(a + b)
print(a - b)
print(a * b)
print(a / b)

formula1 = a*a + b*b + 2*a*b
formula2 = a*a + b*b - 2*a*b 

print(formula1)
print(formula2)

enter a : 4
enter b: 5
9
-1
20
0.8
81
1

In [13]:
# type(object) : displays data type

num = 10
print(type(num))

num = 10.2
print(type(num))

num = 1+2j
print(type(num))

num = "hello"
print(type(num))

num = None 
print(type(num))

num = True 
print(type(num))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [14]:
#var_name = value
name = "Kumar" #str
role = "SDE"   #str
age = 45       #int
salary = 9873739.33
isDeveloper = False

print(name) 
print(role)
print(age)
print(salary)
print(isDeveloper)

print(type(name))
print(type(role))
print(type(age))
print(type(salary))
print(type(isDeveloper))

Kumar
SDE
45
9873739.33
False
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### sep = ' '  (default space)

In [15]:
print(name)
print(role)
print(age)

Kumar
SDE
45

In [16]:
print(name,age,role,salary,isDeveloper)

Kumar 45 SDE 9873739.33 False

In [20]:
print(name,age,role,sep = ' -> ')

Kumar -> 45 -> SDE

In [21]:
print(name,age,role,sep=" # ")

Kumar # 45 # SDE

In [22]:
print(name,age,role,sep="\n") #\n : new line

Kumar
45
SDE

In [25]:
print(age,name,salary,sep='')

45Kumar9873739.33

### end = '\n'

In [30]:
print(name)
print() # acts new line , because of end='\n'
print()
print(age)

Kumar


45

In [31]:
print("Hey Hi Every One welcome to python session..")

Hey Hi Every One welcome to python session..

### file=sys.stdout -->  screen /monitor

In [39]:
print("Hey Hi Every One welcome to python session..",file= open("may2024.txt",mode="a"))  #append mode)

In [40]:
 print('Addition of 10 + 20= ', (10+20), file = open('may2024.txt', mode='a'))

### Try these?

what is the value for the below code ?
  ```python
	print(print('Hi ChatGPT'))

	var = print('Hi Azure AI')
	print(var)
```

In [ ]:
var = print('Hi Azure AI') #fun calling in a variable 
print(var)


print(print('Hi ChatGPT')) #inner fun return None , outer function printing same value

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''
     this is a function which 
     return addition
    '''
    print(a+b)
    
fun(10,20)

In [ ]:
#Take new inputs from keyboard
'''
we are learning python 
comments 
single comments 
multiline comments
'''

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

syntax:
    
    variableName = value 
    
    value = strings : "kumar"
    value = integers : 0-9
    value = float  : 0.0 - 9.9 
    value : boolean : True or False
    value : complex : 1+2j

### JAVA
- Java is Strongly typed language 
- Java is static language 
- we have to manually declare datatypes for variables.
- for every DATATYPES , there will be FIXED RANGE & SIZE
```java
    datatypes variableName = value;

    int age = 10;
    String name = "Kumar";
```

### PYTHON
- Python is weekly typed language
- Python is Dynamic
- We don't have to manually declare datatypes for variables
- No SIZE restrictions on datatypes
```python
    variableName = value

    name = "kumar"
    age = 11
```

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
#invalid variable-name

# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
print(len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
))

In [ ]:
name = "10"
print(name)
print( type(name) )

In [ ]:
True_ = "Kumar" #Keyword 
print(True_)

In [ ]:
if ="kumar"
print(if)

In [ ]:
_ = "kumar"
__ = 10

print(_)
print(__)

In [ ]:
a = "Kumar A"
b = "Rajamoni"
c = "OU"
d = 'HYD'
e = "India"

print(a,b,c,d,e)

In [ ]:
firstName = "Kumar A"
lastName = "Rajamoni"
collegeName = "OU"
city = 'HYD'
country_name = "India"

print(firstName , lastName , collegeName , country_name)

In [ ]:
number_of_students = 10 #snake_case #variables

numberOfStudents = 10 #camelCase # methods

NumbersOfStudents = 10 #PascalCase #classes

### Styling cases
- 3 popular case styles in programming.
   -  Camel case
   -  Snake case
   -  Pascal case
    
    
##### Camel Case

> Camel case is one of the most commonly used naming conventions in coding. In the camel case, compound words start with a capital letter.
- Notice that in the camel case, the first letter of the very first word starts with a lowercase letter.
- Many programming languages **use camel case to declare variables.**
- We can also use for naming function or methods in python
```python        
myAccountBalance = 100
distanceToMoon = 3.844e8
```


##### 2. Pascal Case
- In the Pascal case, all compound words start with a capital letter.
- The most common use case for the pascal case is for naming classes.
```python
class MainViewController: UIViewController { ... }
```

##### 3. Snake Case (snake_case)
- Snake case is a case style where each compound word is separated by an underscore. 
- This greatly improves the readability of values with long multi-word names.
- declaring variables  and constant values

```python
my_age = 26
date_today = "2022-09-15"

{
    first_seen: "2021-07-02",
    last_modified: "2022-09-15"
}


DISTANCE_TO_MOON = 3.884e8
```

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }




# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
age = 35
print(age , type(age))

In [ ]:
age = 67.6
print(age , type(age))

In [ ]:
age = (10,20)
print(age , type(age))

In [ ]:
nums = 10,20,30
print(nums, type(nums))

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
age = 10 #static declaration
print(age)

In [ ]:
read data from keyword/user ---> input() -----> program (process) ------> print() ---> window/screen/console.

In [ ]:
# dynamic declaration.

age = input('Enter age ? ') #read data(int,float,bool,complex) in str format only
print(age , type(age))

In [ ]:
'10'
"10.2"
"True"
"10+2j"
"Kumar"
"[10,20]"
"(10,20)"
"{10,20}"
"{'name': 'Kumar', 'salary': 90000}"

In [ ]:
salary = input('Enter a salary: ')
print(salary , type(salary))

In [ ]:
print(type(45.5))
print(type("45.5"))

In [ ]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

print(num1 + num2)

In [ ]:
print(10 + 20) # int addition
print("10" + "20") # str addition

In [ ]:
print('6' + '7')
print("10" + "20")
print("Hi" + "Java")

In [ ]:
print('10' + 10) # str + int
print(5 + '4') # int + str

In [ ]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

# explicit conversation
num1 = int(num1) # convert str to int # int("10")--> 10
num2 = int(num2)

print(num1 + num2)

In [ ]:
print(int("10"))
print(int("10a"))

In [ ]:
# explicit conversation
num1 = int(input("Enter num1: ")) # convert str to int # int("10")--> 10
num2 = int(input("Enter num2: "))

print(num1 + num2)

In [ ]:
n1 = int(input('Enter n1: ')) 
n2 = int(input('Enter n2: '))
n3 = int(input('Enter n3: '))

print(n1 + n2 + n3)

In [ ]:
salary = float(input("Enter the salary")) #float(str) -> float
print(salary , type(salary))

In [ ]:
print(float('27.7378'))
print(float('27.7sj'))

In [ ]:
studentId = int(input('Enter id: '))
studentName = input('Enter Name: ')
is_enrolled = bool(input('Enter True or False: '))
courseFee = float(input('Enter course fee: '))
duration = int(input('Enter duration: '))

In [ ]:
print(studentId, type(studentId) , id(studentId))
print(studentName, type(studentName) , id(studentName))

In [ ]:
employee_id = int(input('Enter Emp Id: '))
employee_name = input('Enter Name: ')
employee_enrolled = bool(input('Enter True or False: '))
employee_salary = float(input('Enter Salary: '))
experience = int(input('Enter exp: '))

print(employee_id, type(employee_id), id(employee_id))
print(employee_name, type(employee_name), id(employee_name))
print(employee_enrolled, type(employee_enrolled), id(employee_enrolled))
print(employee_salary, type(employee_salary), id(employee_salary))
print(experience, type(experience), id(experience))

In [ ]:
total_food_bill = int(input('Enter total bill: '))
total_persons = int(input('Enter Number of Persons: '))
tip_percentage = int(input('Enter the tip percentage on bill amount: '))

total_bill = total_food_bill + total_food_bill * (1/tip_percentage)
single_person_pay = total_bill/total_persons

print(single_person_pay)

## Try these 

- Declare 5 realtime variables and take input from keyboard
- print(value , type , memoryID.) for every variable.

### Assignment Answers

In [ ]:
name = input("enter the name")
address = input("enter address: ")
university_course_duration = int(input("enter course duration: "))
course_fee = float(input("enter the course_fee"))
is_student = bool(input("Are you a student?True/False"))

print (name , type (name) ,id(name))
print(address , type(address) ,id(address))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))
print (course_fee, type(course_fee), id(course_fee))
print(is_student , type(is_student) , id(is_student))

In [ ]:
fifa_winner = input("Enter the winner name")
print(fifa_winner , type(fifa_winner) , id(fifa_winner))
messi_score = int(input("enter messi score: "))

print(messi_score , type(messi_score) , id(messi_score) )

In [ ]:
print("Welcome to the tip calculator")

bill = float(input("What was the total bill? "))
tip = int(input("What percentage of tip would you like to give? 10, 12, or 15? "))
people = int(input("How many people to split the bill "))

totalAmountWithTip = tip / 100 * bill + bill
people_div = totalAmountWithTip // people
print(f"Each person should pay: ${people_div}")