## Strings 
- group of individual or collections of characters
- strings are immutable in python
- Strings have indexing
      
      +ve : 0 - N-1
      
      -ve : -1 --> -N
- String supports slicing also.
- In Python Strings can be declared in 3 ways:
        
        - single quotes  'k'
        
        - double quotes   "dyamic programmic"
        
        - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

In [16]:
print(type("Hello"))
print(type("10"))
"10.22"
"True"
print(type("[10,203,30]"))

# anything inside quotes is a string

<class 'str'>
<class 'str'>
<class 'str'>

#### Creating a String

In [17]:
letter = 'P'              
print(letter)              
print(len(letter))        

greeting = 'Hello, World!' 
print(greeting)            
print(len(greeting))        

sentence = "I hope you are enjoying  Python          Course"
print(sentence)
print(len(sentence))

P
1
Hello, World!
13
I hope you are enjoying  Python          Course
47

In [18]:
print(ord("A"))

# characters --> letters , symbols, numbers,regional lang letters

65

In [19]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course.

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [20]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '

full_name = first_name  +  space + last_name
print(full_name) 

# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

Helsinki Money Heist
8
11
False
20

### Try this . 
- print(first_name + " age  "+40)
- print("Hi "*10)
- print("Hi"*"Hello")

In [ ]:
# + ---> both same type
# * ---> both should be different types ( str,int)

In [25]:
print(first_name + " age" +  40)

TypeError: can only concatenate str (not "int") to str

In [28]:
print(5 * "hello ")

hello hello hello hello hello

In [29]:
print("hi" * "hi")

TypeError: can't multiply sequence by non-int of type 'str'

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [30]:
print("Hello \n Welcome to Srikanth's \t Home")

Hello
 Welcome to Srikanth's 	 Home

In [31]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1 \t2 \t8')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t6\t18')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1 	2 	8
Day 2	3	5
Day 3	3	5
Day 4	6	18
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

### Why 3 representations

In [33]:
# It's good movie 
print('It\'s a good movie')

It's a good movie

In [34]:
print("It's a good movie")

It's a good movie

In [37]:
print(" In every programming language it starts with \"Hello, World!\" ")

 In every programming language it starts with "Hello, World!"

In [38]:
print(""" In every programming language it starts with "Hello, World!" """)

 In every programming language it starts with "Hello, World!"

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [ ]:
# c syntax
int age = 29;
float salary = 29.28228773793;
print("%d %f",age,salary)

In [39]:
name = input("Enter name: ")
age = int(input("Enter the age: "))
salary = float(input("Enter salary: "))

Enter name: avan
Enter the age: 56
Enter salary: 289278.289

In [40]:
print(name,age,salary)

avan 56 289278.289

In [41]:
print("my name is ",name, ", age is ",age,", my salary is",salary) #normal

my name is  avan , age is  56 , my salary is 289278.289

In [42]:
print("my name is %s , age is %d , my salary %.2f" %(name,age,salary))

my name is avan , age is 56 , my salary 289278.29

In [43]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 10.283893
formated_string = 'I am %s %s. I teach %s and fee is %.2f' %(first_name, last_name, language,fee)
print(formated_string)

# Strings  and numbers
radius = 7
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string)


python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

I am Kumar R. I teach Python and fee is 10.28
The area of circle with a radius 7 is 153.86.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [ ]:
print('Iam %s' %(first_name))

#### New Style String Formatting (str.format)

In [46]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000.092

print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+ str(fee))

print("Iam ", first_name , " " , last_name, "." , "I Teach" , language) #normally 

print('Iam ', first_name)

I am Kumar R. I Teach Pythonand fee is 12000.092
Iam  Kumar   R . I Teach Python
Iam  Kumar

In [49]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 120000.7677576

formated_string = 'I am {2} {0}. I teach {1} and fee is {3}'.format(first_name, last_name, language,fee)

print(formated_string)


a = 4
b = 3

print('{0} + {1} = {2}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Python Kumar. I teach R and fee is 120000.7677576
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [54]:
print('{} / {} = {:.5f}'.format(10,3, 10/3))

10 / 3 = 3.33333

#### f-string

In [55]:
print("Iam %s %s. I Teach %s and fee is %.2f"%(first_name, last_name, language,fee))

Iam Kumar R. I Teach Python and fee is 120000.77

In [56]:
print('I am {} {}. I teach {} and fee is {:3.2f}'.format(first_name, last_name, language,fee))

I am Kumar R. I teach Python and fee is 120000.77

In [60]:
print(f'Iam {first_name} {last_name}. I teach {language} and fee is {fee:.2f}')

Iam Kumar R. I teach Python and fee is 120000.77

In [61]:
name = "Kumar"
age =18

print("my name is %s , age is %d" %(name,age))
print(f'my name is {name} , age is {age}')

my name is Kumar , age is 18
my name is Kumar , age is 18

In [62]:
#### Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [66]:
age = 19

print('my age is',age)
print('my age is %d' %(age)) # c based formatting
print('my age is {}'.format(age)) # String.format()
print(f"my age is {age}") # f string

my age is 19
my age is 19
my age is 19
my age is 19

In [67]:
trainerName = "kumar"
fee = 12000.2637638
# c based formatting 
print("My name is %s and fee = %.2f"%(trainerName,fee))

# 2. String.format() 
print("My name is {} and fee = {:.2f}".format(trainerName,fee))

# 3. F String (3.6+)
print(f"My name is {trainerName} and fee = {fee}")

My name is kumar and fee = 12000.26
My name is kumar and fee = 12000.26
My name is kumar and fee = 12000.2637638

In [ ]:
# STRING is a collection and ordered and indexed datatypes

In [68]:
name = "Python Language"
print(name)
print(len(name))

# 0th index data
print(name[0])

# last index character
print(name[-1])

Python Language
15
P
e

In [70]:
name[0] = 'p'
print(name)

TypeError: 'str' object does not support item assignment

In [71]:
print(name[16])

IndexError: string index out of range

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--A7oqOWqx--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/1wr90mjnil60r7226bgq.png" width="400" height="400">

In [75]:
language = 'Python'

first_letter = language[0]
print(first_letter) 

second_letter = language[1]
print(second_letter) 

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter)

TypeError: string indices must be integers

In [73]:
language = 'Python'

last_letter = language[-1]
print(last_letter) 

second_last = language[-2]
print(second_last)

n
o

In [74]:
print(language[10])

IndexError: string index out of range

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    negative:
         - start : -1 (default)
        - stop : -LEN-1
        - step : - 1 
    
    
    note: STOP is exculsive not included

In [76]:
# [start:stop:step]
name = "Chennai Super Kings"

print(len(name))

19

In [77]:
print(name[0:5:1])

Chenn

In [79]:
# "Chennai Super Kings"
print(name[0])

print(name[-1])

print(name[0:4:1])

print(name[:6]) 

print(name[2:]) #[2:LEN:1]

print(name[-1:-5:-2])

print(name[::2]) #[0:LEN-1:2]

print(name[-1 : -len(name)-1 : -1]) #[-1: -LEN-1: -1]

print(name[::-1])  #[-1: -LEN-1: -1] # reverse order


print(name[::]) #[0: LEN-1: 1]

C
s
Chen
Chenna
ennai Super Kings
sn
CeniSprKns
sgniK repuS iannehC
sgniK repuS iannehC
Chennai Super Kings

In [80]:
lang = "Python"

print(lang[0])
print(lang[-1])
print(lang[0:4:1])
print(lang[-1:-4:-1])
print(lang[::2])
print(lang[2:])
print(lang[:3])
print(lang[:4])
print(lang[::-1])
print(lang[::1])
print(lang[::])

P
n
Pyth
noh
Pto
thon
Pyt
Pyth
nohtyP
Python
Python

In [86]:
print(lang[:200000000])

Python

In [87]:
marks = [10,203,30]

marks = marks[::-1]

print(marks)

[30, 203, 10]

In [ ]:
#set methods

In [ ]:
s = "python is oops lang"

print(s.capitalize())
print(s.count("o"))
print(s.startswith("p"))
print(s.endswith("y"))
print(s.find("o"))
print(s.index("o"))

print(s.title())
print(s.replace("python" , "java"))
print(s.upper())
print(s.lower())

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [88]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [89]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'


print(challenge.capitalize()) # 'Thirty days of python'


print(challenge)

Thirty days of python
thirty days of python

In [91]:
numbers = [10,20,30]
numbers.reverse() #inplace methods
print(numbers)

[30, 20, 10]

In [ ]:
# inplace methods: apply the operation and also change the content of a variable.
# not inplace method : just only applies the operations.

In [95]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('java')) # 2
print(challenge.count(" "))

3
1
0
3

In [98]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False


print(challenge.startswith("TH"))

True
False
False

In [99]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [100]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [101]:
print(challenge.find("z"))

# task 
# find lastIndex of a character

-1

In [105]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 16
print(challenge.rfind('th')) # 17

16
17

In [109]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.index('y'))  # 7
print(challenge.index('th')) #error

5
0

In [110]:
print(challenge.rindex("y"))
print(challenge.rfind("y"))

16
16

In [111]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex("y")) # error

7
16

In [ ]:
## POSTIVE if ele/character/sub-string is present
find() -- returns lowest index of a sub/character
rfind() ---> Returns highest index of a sub/charcter

index() ---> returns lowest index of a sub/character
rindex()  --> Returns highest index of a sub/charcter


# Negative case , if ele/char/sub is not present

discard() - Nothing
remove() - If ele not there , raise Error


find()/rfind() , if ele/char/sub is not there --> -1
index()/rindex()  , if ele/char/sub is not there ----> Value Error.

In [112]:
challenge = 'thirty days of python'

print(challenge.index("y"))

print(challenge.rindex("y"))


print(challenge.find("y"))

print(challenge.rfind("y"))


print(challenge.index("y",0,6))

print(challenge.rindex("y",0,6))


print(challenge.find("y",0,6))

print(challenge.rfind("y",0,6))

5
16
5
16
5
5
5
5

In [113]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [114]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [115]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [121]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "Kumar          "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('python')) # 'irty days of py'

15
5
irty days of

In [124]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace('Python', 'java')) # 'thirty days of coding'

I Like to code In java

In [125]:
# upper 

challenge = 'I Like to code In Python' 

print(challenge.upper())


challenge = "i LIKE to CODE ruby"

print(challenge.lower())


print(challenge.title())

print(challenge.swapcase())

I LIKE TO CODE IN PYTHON
i like to code ruby
I Like To Code Ruby
I like TO code RUBY

In [ ]:
# checking methods --> True/False
    - validation

In [ ]:
'a'
"10"
"10.2"
"Kumar@123"

always starts is keyword ---> True/False

In [127]:
# isalnum(): Checks alphanumeric character(a-zA-Z0-9)

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirtydaysofpython,2019'
print(challenge.isalnum()) # False

True
True
False
False

In [128]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123akkak'
print(num.isalpha())      # False

False
True
False

In [129]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

False
True
True
False

In [130]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

False
True
True

In [ ]:
special_char = " !@#$%^&*(){}[]"

In [131]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # ½
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

True
True
False

In [ ]:
VARIABLS_RULES
=======================
1. starts with letters or _ 
2. can't start with numbers
3. No keywords 
4. we can have combination of alpha+numeric+_
5. case sensitive

In [132]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [134]:
print("Java-version30".isidentifier())

False

In [135]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

True
False
False
True

In [139]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) #str - list

challenge = 'current,version,of,python,3.12'
print(challenge.split(',')) #str --list

['python', 'is', 'interprted', 'functional', 'scripting', 'language']
['current', 'version', 'of', 'python', '3.12']

In [140]:
example = "Fenil.is.a.python student"
print(example.split('.'))

['Fenil', 'is', 'a', 'python student']

In [141]:
name = "Kumar Rajamoni"

print(name.split())

name = "A l e x"
print(name.split())

['Kumar', 'Rajamoni']
['A', 'l', 'e', 'x']

In [ ]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = ' '.join(web_tech) #list -- str
print(result)

In [ ]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = '-->'.join(web_tech) #list -- str
print(result)

### Try these?

#### 1. take a string from input/keyword.
 ex: i like to code in python 
    
    1. print length
    
    2. print only spaces counts
    
    3. print only length without spaces
    
    4. print word count
    
    
##### 2. read multiple integer/float values through input() method

In [4]:
studentMarks = int(list(input("enter the marks ")))

enter the marks 10,20,30

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

### doubts

In [ ]:


num = "1000"

print(type(num))

numint = int(num)

print(type(numint))

In [ ]:
num = "1000a"

print(type(num))

numint = int(num)

print(type(numint))

In [ ]:
print(int('10a'))

In [ ]:
num1 = int(input("enter a num1: "))

In [ ]:
str -- int  #  incoming data should be valid decimal nums
str - float  # incoming data should be valid float nums

In [ ]:
print(float("100.2a"))

In [ ]:
stud = {
    "name" : 'kumar',
    'college' : 'NIT',
    'fee' : 10920.390,
    'name' : 'Avan',
    'fee' : 10000
    
}

In [ ]:
print(stud)

### Check Palindromes
- civic, madam, radar,and deified.

- Read a input from keyboard.
- check whether string palindrome or not..
   
   if yes - True
    No - False

In [ ]:
string = input('enter a string: ')

rev_str = string[::-1]

if string == rev_str:
    print('Palindrome ')
else:
    print('Not a Palindrome')

In [ ]:
# GeeksforGeeks

### Check Pangrams

- a sentence that contains every letter of the alphabet
ex: 
 ```
"Waltz, bad nymph, for quick jigs vex." (28 letters)
"Glib jocks quiz nymph to vex dwarf." (28 letters)
"Sphinx of black quartz, judge my vow." (29 letters)
"How quickly daft jumping zebras vex!" (30 letters)
"The five boxing wizards jump quickly." (31 letters)

```

In [ ]:
sen = input('enter a line : ')

sen = sen.replace(" ","")
sen = sen.replace(",","")
sen = sen.replace(".","")

print(sen,len(sen))
sen = set(sen) #coverting into set 

if (len(sen) >= 26):
    print('True')
else:
    print('False')