#### What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

#### Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# pip install pandas , matplotlib,seaborn

In [ ]:
import pandas as pd

In [ ]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt # visualization
%matplotlib inline

In [ ]:
dir(pd)

### read the Data

- read_csv()
- read_excel()
- read_html()
- read_json()

In [ ]:
test = pd.read_csv("datasets/test.csv") 
train = pd.read_csv("datasets/train.csv")

In [ ]:
print(type(test))
print(type(train))

In [ ]:
test

In [ ]:
# head()
test.head()

In [ ]:
test.head(10)

In [ ]:
# df.tail()
test.tail()

In [ ]:
test.tail(10)

In [ ]:
# df.info()
test.info()

In [ ]:
# df.describe()
test.describe()

In [ ]:
# df.isna()
# df.isnull().sum()

test.isnull().sum()

In [ ]:
titanic_train = train #alias coopying
titanic_train.head()

In [ ]:
titanic_train.isnull().sum()

In [ ]:
print(type(titanic_train))

In [ ]:
dir(titanic_train)

In [ ]:
#head()
titanic_train.head()

In [ ]:
titanic_train.head(20)#first 5 rows

In [ ]:
titanic_train.tail(10) #last 5 rows

In [ ]:
#dtypes (attributes)
titanic_train.dtypes
titanic_train.columns
titanic_train.index

In [ ]:
#filter only the object
titanic_train.dtypes == "object"

In [ ]:
filterCon =  titanic_train.dtypes == "object"
titanic_train.dtypes[filterCon]

In [ ]:
a = titanic_train.dtypes[titanic_train.dtypes == "object"].index
a

In [ ]:
#describe()
titanic_train.describe() # only the int & float columns

In [ ]:
titanic_train[a].describe()

In [ ]:
titanic_train

In [ ]:
titanic_train.index

In [ ]:
#accessing the columns
titanic_train["Cabin"]

In [ ]:
titanic_train.Cabin

In [ ]:
titanic_train[['Name','Age']]

In [ ]:
#silcing
cols = ['Name','Sex','Age']
titanic_train[cols][:5]

In [ ]:
titanic_train["Ticket"].describe()

In [ ]:
titanic_train.Age.isnull().sum()

In [ ]:
titanic_train["Age"].isnull().sum()

In [ ]:
titanic_train

In [ ]:
#adding the new columns
titanic_train["year"] = "2024"
titanic_train.head()

In [ ]:
#checking the null values in colummns
titanic_train.isnull().sum()

In [ ]:
titanic_train.isnull().any()

In [ ]:
titanic_train["Age"].isnull().sum()

In [ ]:
import numpy as np 
a=[1,0,0,0,0,0,1,1]
np.where(a) # returns index positions of 1's

In [ ]:
filterCon = titanic_train["Age"].isnull()==True


titanic_train[filterCon]

In [ ]:
null_values = np.where(titanic_train["Age"].isnull()==True)

print(null_values)
len(null_values[0])

In [ ]:
# non values#
missing = np.where(titanic_train["Age"].isnull() == False)
len(missing[0])

In [ ]:
titanic_train

In [ ]:
titanic_train["Age"].median()

In [ ]:
titanic_train["Age"].mean()

In [ ]:
titanic_train["Age"].mode()

In [ ]:
titanic_train["Age"].fillna(value = titanic_train["Age"].median(),inplace=True)

In [ ]:
titanic_train

In [ ]:
titanic_train["Age"].isnull().sum()

In [ ]:
max(titanic_train["Fare"])

In [ ]:
np.where(titanic_train["Fare"]==max(titanic_train["Fare"]))

In [ ]:
min(titanic_train["Fare"])

In [ ]:
np.where(titanic_train["Fare"]==min(titanic_train["Fare"]))

In [ ]:
#unique
titanic_train["Cabin"].unique()  # Check unique cabins

In [ ]:
np.where(titanic_train["Cabin"].isnull()==True)

In [ ]:
titanic_train.Cabin.isnull().sum()

In [ ]:
titanic_train["Cabin"].mode()

In [ ]:
titanic_train["Cabin"].mode()[0].split()[0]

In [ ]:
fill_numm_value = titanic_train["Cabin"].mode()[0].split()[0]

titanic_train["Cabin"].fillna(value = fill_numm_value, inplace=True)

In [ ]:
titanic_train["Cabin"].isnull().sum()

In [ ]:
titanic_train["Embarked"].dtype

In [ ]:
titanic_train["Embarked"].unique()

In [ ]:
titanic_train["Embarked"].value_counts()

In [ ]:
titanic_train["Embarked"].fillna(value='S', inplace = True)

In [ ]:
titanic_train.isnull().sum()

In [ ]:
titanic_train["Pclass"].dtype

In [ ]:
#coverting the data type

new_Pclass = pd.Categorical(titanic_train["Pclass"])
new_Pclass

In [ ]:
type(new_Pclass)

In [ ]:
titanic_train["Pclass"].dtype

In [ ]:
titanic_train["Cabin"]

In [ ]:
np.where(titanic_train['Cabin'].isnull()==True)

In [ ]:
print(" \nCount total NaN at each column in a titanic_train : \n\n",titanic_train['Cabin'].isnull().sum())

In [ ]:
titanic_train

In [ ]:
titanic_train['Gender'] = titanic_train['Sex'].apply(str.upper)

In [ ]:
titanic_train

In [ ]:
titanic_train.drop(columns = ['Sex'], inplace = True)

In [ ]:
titanic_train

In [ ]:
columnsLst = list(titanic_train.columns)
print(columnsLst)

columnsLst = [cn.upper() for cn in columnsLst]
print(columnsLst)

In [ ]:
titanic_train.columns = columnsLst

In [ ]:
titanic_train

In [ ]:
#summary
pd.read_csv()
pd.isnull()
pd.isnull().sum()
pd.isnull().any()

pd.unqiue()
pd.describe()
pd.info()

np.where() # to find the indexes of true values
max()
min()


#attributes
columns
index
dtype
size
shape

In [ ]:
titanic_train.columns

In [ ]:
titanic_train.index

### Series and DataFrame

- Series is 1D Data block
- DataFrame is a 2D block

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
lab = ['x','y','z']
my_data = [10,20,30]
d = {'a':10,'b':20,'c':30}

In [ ]:
s1 = pd.Series(my_data)
s1

In [ ]:
pd.Series(["Bit Coin","Etherum","DogeCoin"])

In [ ]:
pd.Series(["Bit Coin","Etherum","DogeCoin"], index = ['X','Y', 'Z'])

In [ ]:
pd.Series(lab)

In [ ]:
pd.Series([type, sum, max,min,len])

In [ ]:
ser1 = pd.Series([100,200,300,400],index = [2,4,6,8])
ser2 = pd.Series([1,2,5,4],index = ['CA', 'OR', 'NV', 'AZ'])
ser1

In [ ]:
ser2

In [ ]:
#series indexing
ser1[8]
ser1[2]


ser2['CA']
ser2['NV']

In [ ]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'CA'])
ser2 = pd.Series([1,2,5,4],['CA', 'NV', 'AZ','OR'])
ser3 = ser1+ser2
ser3

In [ ]:
print (ser1*ser2)

In [ ]:
d = {'a':"random",'b':20,'c':30}
dir(d)
print(d.keys())

In [ ]:
#Data Frame Creation
d = {'a':"random",'b':20,'c':30}


df = pd.DataFrame(d,index = ['x','y','z'])

In [ ]:
df

In [ ]:
df.loc['y']

In [ ]:
df.loc['y','b']

In [ ]:
from numpy.random import randn as rn
rn(4,4)

In [ ]:
list(range(0,5))

In [ ]:
from numpy.random import randn as rn

matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(matrix_data,row_labels,column_headings)

In [ ]:
df

print(type(df))

In [ ]:
df.Y

In [ ]:
df["Y"]

In [ ]:
df[["X","Y"]]

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes
df.columns
df.index
df.shape

#### Creating a new colum

In [ ]:
df

In [ ]:
df['New (Sum of X and Z)'] = df['X']+df['Z']
df['testCol'] = "python"
df

In [ ]:
df

### Drop a column & row

In [ ]:
df

In [ ]:
df.drop("testCol",axis = 1, inplace = True)  #inplace = makes changes to the original df

# Notice the axis=1 (columns)
# axis 0 = row (default)

In [ ]:
df

In [ ]:
df.drop(["A","D"], axis = 0, inplace = True)

In [ ]:
df

In [ ]:
df.drop("New (Sum of X and Z)",axis=1,inplace = True)

In [ ]:
df

### Data Frame Indexing for Row
- Selecting/indexing Rows
- Label-based 'loc' method
- Index (numeric) 'iloc' method

In [ ]:
df

In [ ]:
df[['W','Y']]

In [ ]:
df.loc['C']

In [ ]:
df.loc[["C","B"]]

In [ ]:
df.loc[['B','E'],['Y','W']]

In [ ]:
df

In [ ]:
df.loc["A"] # KeyError

In [ ]:
df[["Y","Z"]]

In [ ]:
df

In [ ]:
df.iloc[1]

In [ ]:
df.loc["C"]

In [ ]:
df.iloc[0:3,0:3]

In [ ]:
df.iloc[:,:]

In [ ]:
# df = pd.DataFrame({'A': [10, 'red', 20.5], 'B': [20, 'blue', 30.5], 'C': [10+2j, 'green',True]})
# df

In [ ]:
df.iloc[-1:-3:-1,-1:-3:-1]

In [ ]:
df

In [ ]:
df.iloc[-1:-5:-1, -1:-3:-1]

In [ ]:
df.iloc[0:2,0:3]

In [ ]:
a= df.columns
a
print(a[-1])

In [ ]:
df.drop(a[-1],axis=1 ,inplace = True)

In [ ]:
df

In [ ]:
df.loc[['B','E']]>0

In [ ]:

import pandas as pd 
import numpy as np

matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']
matrix_data

In [ ]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

In [ ]:
df

In [ ]:
df["Age"]

In [ ]:
df.Age

In [ ]:
df.loc['A']

In [ ]:
df.Height
fil=df['Height']>65

In [ ]:
df[df['Height']>65]

In [ ]:
booldf1 = df['Height']>65
booldf2 = df['Weight']>145

In [ ]:
df

In [ ]:
df[(booldf1 & booldf2)]

In [ ]:
df[booldf1][['Age','Weight']]

In [ ]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

In [ ]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

In [ ]:
df

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df

In [ ]:
"Student Teacher Engineer Doctor Nurse".split()

In [ ]:
df['Profession'] = "Student Teacher Engineer Doctor Nurse".split()
df

In [ ]:
#setting the index
print (df.set_index('Profession',inplace=True))

In [ ]:
df

In [ ]:
df.loc["Student"]

### Dropping the null values
df.dropna()

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})

df['States']="CA NV AZ".split()
df.set_index('States',inplace=True)
df

#np.nan = null values

In [ ]:
df.isnull().sum()

In [ ]:
print("\nDropping any rows with a NaN value\n",'-'*35, sep='')
df.dropna(axis=0) #axis = 0 row

In [ ]:
df

In [ ]:
print("\nDropping any column with a NaN value\n",'-'*35, sep='')
df.dropna(axis=1)

In [ ]:
df

In [ ]:
print("\nDropping a row with a minimum 2 NaN value using 'thresh' parameter\n",'-'*68, sep='')
df.dropna(axis=0, thresh=2)

### Filling the Null Values

df.fillna()

In [ ]:
df

In [ ]:
df["C"].mean()

In [ ]:
print("\nFilling values with a default value\n",'-'*35, sep='')
df.fillna(value = df["C"].mean())

In [ ]:
df

In [ ]:
df["A"].max()
# 1+2+nan=3/2 = 1.5

In [ ]:
print("\nFilling values with a computed value (mean of column A here)\n",'-'*60, sep='')
df.fillna(value=df['A'].max())

In [ ]:
# mean()
# median()
# mode()
# max(), min()

### Data Manupulation functions

In [ ]:
import pandas as pd

import numpy as np

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)
df

#### group by
- grouping the common values(rows)

df.groupby()

In [ ]:
byComp = df.groupby('Company')
byComp

In [ ]:
pd.DataFrame(byComp)

In [ ]:
# dir(byComp)
# print(byComp.mean())

In [ ]:
print("\nGrouping by 'Company' column and listing mean sales\n",'-'*55, sep='')
print(byComp.mode())

In [ ]:
print("\nGrouping by 'Company' column and listing sum of sales\n",'-'*55, sep='')
print(byComp.sum())

In [ ]:
df.groupby('Company').describe().loc["FB"]

In [ ]:
print("\nAll in one line of command (Stats for 'FB')\n",'-'*65, sep='')
print(pd.DataFrame(df.groupby('Company').describe().loc['FB']).transpose())

### Merging two Data Frames

In [ ]:
# Merging two data frames
# Creating data frames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[0, 1, 2, 3])
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8,9,10,11])
df3

In [ ]:
df_cat1 = pd.concat([df1,df2,df3], axis=0)
df_cat1

In [ ]:
df_cat2 = pd.concat([df1,df2,df3], axis=1)
df_cat2

In [ ]:
df_cat2.fillna(value=0, inplace=True)
df_cat2

In [ ]:
# merging by a common key

left = pd.DataFrame({'key': ['K0', 'K8', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
merge1= pd.merge(left,right,how='inner',on='key')
merge1

In [ ]:
merge1= pd.merge(left,right,how='left',on='key')
merge1

In [ ]:
merge1= pd.merge(left,right,how='right',on='key')
merge1

#### DataFrame.pivot()
- In pandas, pivot() is a powerful method used to reshape data in a DataFrame. 
- It allows you to transform the data by rotating the rows into columns or reshaping a DataFrame based on the values of specified columns. 
- This is particularly useful for reorganizing data for better analysis or visualization.

- Reshape data (produce a “pivot” table) based on column values. 
- Uses unique values from specified index / columns to form axes of the resulting DataFrame. This function does not support data aggregation, multiple values will result in a MultiIndex in the columns.

In [ ]:
import pandas as pd

data = {
    'Date': ['2024-05-01', '2024-05-01', '2024-05-02', '2024-05-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 200, 150, 250]
}

df = pd.DataFrame(data)
print(df)
print(df.columns)
print(df.index)
print(df.shape)
print(df.size)

In [ ]:
#Now, if you want to pivot this DataFrame so that the 
# dates become the index, 
# the products become the columns, 
# and the sales become the values, 
# we can use pivot()

pivot_df = df.pivot(index='Date', columns='Product', values='Sales')
print(pivot_df)

- In the resulting DataFrame, each unique value in the 'Date' column **becomes an index**, each unique value in the 'Product' column **becomes a column**, and the values are filled with corresponding sales values. 

- If there are multiple rows with the same combination of index and column labels, pivot() will aggregate them using a default aggregation function (in this case, it takes the mean).
- You can specify an aggregation function using the aggfunc parameter if you need a different behavior.

- Keep in mind that pivot() works well when there are no duplicate entries in the resulting DataFrame. If there are duplicates, you may need to pre-process the data or use other methods like pivot_table() which allows for aggregation of duplicate entries.

##### Example-2

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                            'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar', values='zoo')

In [ ]:
df.pivot(index='foo', columns='bar')['baz']

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

##### Example-3

In [ ]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border-style: solid;
}

In [ ]:
df = pd.read_csv("datasets/weather.csv")
df

In [ ]:
df.pivot(index='date',columns='city')

In [ ]:
df.pivot(index='city',columns='date')

In [ ]:
df.pivot(index='date',columns='city',values="humidity")

##### Example-4

In [ ]:
df = pd.DataFrame({
       "lev1": [1, 1, 1, 2, 2, 2],
       "lev2": [1, 1, 2, 1, 1, 2],
       "lev3": [1, 2, 1, 2, 1, 2],
       "lev4": [1, 2, 3, 4, 5, 6],
       "values": [0, 1, 2, 3, 4, 5]})

df

In [ ]:
df.pivot(index="lev1", columns=["lev2", "lev3"], values="values")

In [ ]:
df.pivot(index=["lev1", "lev2"], columns=["lev3"], values="values")

#### DataFrame.pivot_table()

- In pandas, a pivot table is a powerful tool for reshaping and summarizing data. 
-  allows you to reorganize a DataFrame into a new DataFrame by pivoting the data around one or more columns. Pivot tables are particularly useful for analyzing and summarizing data, especially when dealing with large datasets.

##### Example-1

In [ ]:
import pandas as pd

data = {
    'Date': ['2024-05-01', '2024-05-01', '2024-05-01', '2024-05-02', '2024-05-02', '2024-05-02'],
    'Product': ['A', 'A', 'B', 'A', 'B', 'B'],
    'Sales': [100, 120, 200, 150, 250, 220]
}

df = pd.DataFrame(data)
print(df)

In [ ]:
# pivot_df = df.pivot(index='Date', columns='Product', values='Sales') # ValueError: Index contains duplicate entries, cannot reshape 
pivot_df = df.pivot_table(index='Date', columns='Product', values='Sales', aggfunc='sum')
print(pivot_df)

##### Example-2

In [ ]:
import pandas as pd

data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-03','2024-01-01','2024-01-02'],
    'Product': ['A', 'B', 'A', 'B', 'A','A','B'],
    'Revenue': [100, 200, 150, 250, 180,165,20],
    'Quantity': [10, 20, 15, 25, 18,22,12]
}

df = pd.DataFrame(data)
df

In [ ]:
pivot_table = df.pivot_table(index='Date', columns='Product', values='Revenue', aggfunc='sum')
print(pivot_table)

##### Example-3

In [ ]:
df = pd.read_csv("datasets/weather2.csv")
df

In [ ]:
df.pivot_table(index="date",columns="city")

In [ ]:
df.pivot_table(index="date",columns="city",aggfunc="sum")

In [ ]:
df.pivot_table(index="date",columns="city", margins=True,aggfunc="sum")

##### Example - 4

In [ ]:
df = pd.read_csv("datasets/weather3.csv")
df

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df

In [ ]:
df.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

### DataFrame.melt()

- DataFrame.melt() is a function used in the pandas library in Python for reshaping data. 
- It's particularly useful when you want to change the format of your DataFrame from wide to long format
- Melt is used to transfor or reshape data

##### Example-1

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter'],
    'Math': [85, 90, 88],
    'Physics': [88, 85, 92],
    'Chemistry': [90, 87, 89]
}

df = pd.DataFrame(data)
df

- Now, if we want to reshape this DataFrame to have a single column for the subjects and another for the corresponding scores, we can use melt():
- The id_vars parameter specifies which column(s) to keep as identifier variables (in this case, 'Name'), while the rest of the columns are melted down. T
- he var_name parameter renames the column containing the variable names ('Math', 'Physics', 'Chemistry' in this case), and value_name renames the column containing the corresponding values.

In [ ]:
melted_df = df.melt(id_vars=['Name'], var_name='Subject', value_name='Score')
melted_df

##### Example-2

In [ ]:
df = pd.read_csv("datasets/weather4.csv")
df

In [ ]:
melted = pd.melt(df, id_vars=["day"], var_name='city', value_name='temperature')
melted

### DataFrame.cut()

- DataFrame.cut() is a method used to segment and sort data values into discrete bins. 
- This is particularly useful when you want to convert a continuous variable into a categorical one.

In [31]:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Score': [85, 70, 92, 60, 78]
})

df

   Student  Score
0    Alice     85
1      Bob     70
2  Charlie     92
3    David     60
4      Eve     78

In [32]:
# Define the bins and labels
bins = [0, 70, 80, 90, 100]
labels = ['D', 'C', 'B', 'A']

# Create a new column 'Grade' by categorizing 'Score'
df['Grade'] = pd.cut(df['Score'], bins=bins, labels=labels)

df

   Student  Score Grade
0    Alice     85     B
1      Bob     70     D
2  Charlie     92     A
3    David     60     D
4      Eve     78     C

- In this example, DataFrame.cut() divides the 'Score' column into bins based on the specified boundaries (bins) and assigns labels (labels) to each bin.
- Then, it creates a new column named 'Grade' in the DataFrame, where each student's score is categorized into the appropriate grade based on the defined bins and labels.

In [ ]:
#summary
# how to read datasets
- read_csv()
- read_excel()
- read_html()
- read_sql()

#Methods
- head()
- tail()
- info()
- describe()
- unquie()
- mean() ,median (), mode(), max() , min()
- isnull() , sum()

#dropping null and filling
- dropna()
- fillna()

#indexing
 - loc[] - labels
- iloc[] - integer labels

# data block pandas
- pd.Series(data, index , columns)
- pd.DataFrame()

# manipulation 
- pd.concat()
- pd.groupby()
- pd.merge()